$colors: (
    black: black,
    white: white,
    white-lighter: rgb(236, 236, 236),
    off-white: #d8d8d8,
    grey: rgb(192, 192, 192),
    dark-grey: #0e0e0e,
    yellow: #fefb10,
    light-yellow: #fdfa54,
    red: red,
    red-lighter: #ff1110,
    maroon: #800000,
    green: #00b200
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$hover-zoom: scale(1.2);

$desktop: 1280px; // large screen
$filter-wrap: 1200px; // change margin when filters wrap
$ipad: 1023px; // ipad wide view
$menu-button: 991px; // width when Bootstrap menu aria appears
$tablet: 812px; // smaller sized screens --> decr size by about 1/2
$tablet-mobile: 600px;
$mobile: 460px; // small sized screens


@mixin desktop {
    @media all and (max-width: #{$desktop}) {
        @content;
    }
}

@mixin filter-wrap {
    @media all and (max-width: #{$filter-wrap}) {
        @content;
    }
}

@mixin ipad {
    @media all and (max-width: #{$ipad}) {
        @content;
    }
}

@mixin menu-button {
    @media all and (max-width: #{$menu-button}) {
        @content;
    }
}

@mixin tablet {
    @media all and (max-width: #{$tablet}) {
        @content;
    }
}

@mixin tablet-mobile {
    @media all and (max-width: #{$tablet-mobile}) {
        @content;
    }
} 

@mixin mobile {
    @media all and (max-width: #{$mobile}) {
        @content;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 14px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: color(dark-grey);
    scrollbar-width: thin;
    scrollbar-color: color(maroon) color(black);
}

body::-webkit-scrollbar-track {
    background: color(black);
}

body::-webkit-scrollbar-thumb {
    background-color: color(maroon);
    border-radius: 6px;
    border: 3px solid color(black);
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 40px;
    min-height: 100vh;

    @include tablet {
        grid-gap: 20px;
    }
}  

/* ........................................................... nav  .......................................................... */

nav {
    background-color: color(black);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid color(white);
}
      
  /* container to make minimum nav width */
.nav--items {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.website-logo {
    height: 32px;
    margin-bottom: -9px;

    @include tablet {
        height: 28px;
    }

    @include tablet-mobile {
    height: 24px;
    width: 210.917px;
    }
}
      
.logo {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 23px;
    color: color(white);
    width: 50%;
    padding-left: 5%;

    a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: color(white); 
    }
}


.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: baseline;  /* align text of nav items and language select */
    width: 50%; 
    margin-right: 5%;

    li {
        list-style: none; 
         
        &:focus {
            outline: none;
        } 
    }

    a {
        text-decoration: none;
        color: color(white);
        letter-spacing: 1.5px;
        font-weight: bold;
        position: relative;   
        
        &:hover {
            cursor: pointer;    
        }

        &::after {
            content: '';
            display: block;
            height: 3px;
            background: color(white);
            position: absolute;
            top: 1.2em;
            left: 0;
            right: 0;
            border-radius: 10px;
            transform: scale(0);
            transition: transform ease 0.25s;    
        }

        &:hover::after {
            transform: scale(1,1);
        }
    }
}

// styling active page
body.home .nav-home a,
body.about .nav-about a,
body.school-talks .nav-school-talks a,
body.book .nav-book a,
body.links .nav-links-page a {
    border-bottom: 2px solid color(white);
}


/* ........................................................ nav search ........................................................ */

.search-input-container {
    position: relative;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.search-input-spacer {
    width: 50%;
    flex: 1;
    margin-left: 5%;

    @include tablet-mobile {
        display: none;
    }
}

.search-input {
    font-family: 'Montserrat', sans-serif;
    height: 0;
    border: 0;
    border-radius: 5px;
    margin-right: 40px;
    padding-left: 14px;
    transition: height 1s ease;
    font-size: 1rem;
    cursor: pointer;
    flex: 1;

    &:focus {
        outline: none;
    }

    @include tablet {
        font-size: 0.875rem;
    }

    @include tablet-mobile {
        margin: 0 5%;
    }
}
  

  
.search-icon {
    position: absolute;
    right: 10px;
    height: 32px;
    margin: 5.5px 0.5px 0.5px 5.5px;
    cursor: pointer;
    
    @include tablet {
        height: 28px;
    }

    @include tablet-mobile {
        width: 24px;
        margin-bottom: -6px;
    }
}
  

.search-close {
    position: absolute;
    right: 10px;
    display: none;
    height: 23px;
    font-size: 3rem;
    cursor: pointer;

    @include tablet {
        height: 21.13px;
    }
    
    @include tablet-mobile {
        height: 18.1px;
        margin-bottom: -6px;
    }
}
  
  
/* ........................................................ nav burger ........................................................ */
  
.burger {
    display: none;
    cursor: pointer;
    width: 50%;
}
    
  /* to make burger icon right aligned */
.burger--container {
    width: 25px;
    margin: 0 auto;
    margin-bottom: -8.4px;  // vertically align logo and burger menu icon
    text-align: left;
}
    
.burger--container div{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
    transition: all 0.5s ease;
}
    
.line1 {
    width: 5px; 
    height: 2px;
    margin-left: 20px; /* to make burger icon right aligned */
    background-color: color(white);  
}
.line2 {
    width: 14px;
    height: 3px;
    margin-left: 11px; /* to make burger icon right aligned */
    background-color: color(red-lighter);
}
.line3 {
    width: 25px;
    height: 4px;
    background-color: color(white);
    
}


/* ........................................................ nav mobile ........................................................ */
    
@media (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: fixed;
        right: 0;
        bottom: 0;
        padding-top: 50px;
        top: 0;
        background-color: color(maroon);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 50%;
        margin-right: 0;
        z-index: 1;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

        li {
            opacity: 0;
            padding: 10px;
        }

        li.nav-home {
            padding-top: 20px;
        }
    }
    
    .burger {
      display: block;
    }
}
    
    
.nav-active {
    transform: translateX(0%);
    z-index: 2;
}
    
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
}
    
.burger.close {
    width: 50%;
    color: color(black);
    z-index: 3;
}
  
.close {
    .line1 {
        width: 25px; 
        margin-left: 0;
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .line2 {
        margin-left: 0px;
        opacity: 0;
    }
    .line3 {
        height: 2px;
        transform: rotate(45deg) translate(-5px, -6px);
    }
}  

.search-ul {
    /* Remove default list styling */
    position: absolute;
    z-index: 1;
    list-style-type: none;
    width: calc(47.5% - 12px);
    justify-self: stretch;
    padding: 0;
    margin-top: 40px;
    right: 40px;
    display: none;
    max-height: 306px;
    overflow-y: scroll;
    border-radius: 5px;
    background-color: color(off-white);

    @include tablet {
        max-height: 277px;
    }

    @include tablet-mobile {
        left: 0;
        width: 90%;
        margin-left: 5%;
    }
}
  
.search-ul li a {
    border: 1px solid #ddd; 
    margin-top: -1px;
    background-color: #f6f6f6; /* Grey background color */
    padding: 6px 13px; 
    text-align: left;
    text-decoration: none; /* Remove default text underline */
    font-size: 1rem; 
    color: color(black); 
    display: block; /* Make it into a block element to fill the whole list */

    @include tablet {
        font-size: 0.875rem;
    }
}
  
.search-ul li a:hover {
    background-color: #eee; /* Add a hover effect to all links */
}


/* ....................................................  nav filter list ..................................................... */
//  Modified from: https://www.w3schools.com/howto/howto_js_filter_lists.asp .

main {
    transition: all 1s;  /* for slowly decr opacity of main when text in search bar */ 
    min-height: 100vh; /* when filtering gallery (index.html)  when mildly venomous clicked (only 3 results)... prevent footer from showing  */
}
    
  /* make background fade when nav menu opened - toggled using JavaScript */
.main-content.background-fade {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    height: 100%;
    bottom: 0;
    left:0;
    right: 0;
    transition: all 0.5s ease;
}


footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    padding: 20px 5px;
    background-color: color(black);
    color: color(white);
    box-shadow: 0 0 1px  rgba(255,255,255,0.1);
    margin-top: 60px;


    // make footer slanted
    padding-top: 90px;
    padding-bottom: 40px;
    clip-path: polygon(0px 100px, 100% 0px, 100% 100%, 0% 100%);


    @include tablet {
        font-size: 10px;
    }
}

.footer-img-container {
    padding-bottom: 20px;
}

footer video {
    width: 100px;
    height: 100%;
    border-radius: 5px;

    @include tablet {
        width: 75px;
    }
}

.developer-link {
    text-decoration: none;
    color: color(white);
}


/* ..................................................... index (landing page) ..................................................... */

.index-container {
    display: flex;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    max-width: 100%;
    background-color: color(black);
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;

    @include menu-button {
        font-size: 1.25rem;
    }

    @include tablet {
        font-size: 1rem;
    }   
}



.index-container a {
    text-decoration: none;
    color: color(white);
    letter-spacing: 1.5px;
    font-weight: bold;
    position: relative;   
    
    &:hover {
        cursor: pointer;    
    }

    &::after {
        content: '';
        display: block;
        height: 3px;
        background: color(white);
        position: absolute;
        top: 1.2em;
        left: 0;
        right: 0;
        border-radius: 10px;
        transform: scale(0);
        transition: transform ease 0.25s;    
    }

    &:hover::after {
        transform: scale(1,1);
    }
}

.index-container img {

    width: 500px;
    height: auto;
    border: 1px solid color(white);
    border-radius: 5px;
    
    @include tablet {
        width: 80vw;
        height: auto;
    }
}

.index-container div {
    margin: 5px 0;
}

/* ..................................................... gallery container ..................................................... */

.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
}

  
.filter-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-flow: row;
    grid-gap: 20px;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    font-size: 75%;

    @include tablet {
        grid-template-columns: repeat(auto-fit, 139px);
        grid-gap: 10px;
        font-size: 70%;
    }
}

// The grid-cards in the gallery
.filter-item {
    position: relative;
    border-radius: 5px;
    background-color: color(off-white);
    box-shadow: 5px 7px 6px rgba(0, 0, 0, 0.3);
    max-height: 350px;
}
  
.img-container {
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
  
.filter-item img {
    width: 100%;
    height: 166.75px;
    object-fit: cover; /* crops image top and bottom in this case */
    cursor: pointer;
    transition: all 0.9s ease;
  
    @include tablet {
      height: 116.7px;
    }
}

.img-adjust-1 {
    object-position: 10%;  
}
.img-adjust-2 {
    object-position: 13%;  
}
.img-adjust-3 {
    object-position: 20%;  
}
.img-adjust-4 {
    object-position: 25%;  
}
.img-adjust-5 {
    object-position: 30%;  
}
.img-adjust-6 {
    object-position: 35%;  
}
.img-adjust-7 {
    object-position: 40%;  
}
.img-adjust-8 {
    object-position: 60%;  
}
.img-adjust-9 {
    object-position: 65%;  
}
.img-adjust-10 {
    object-position: 70%;  
}
.img-adjust-11 {
    object-position: 75%;  
}
.img-adjust-12 {
    object-position: 80%;  
}
.img-adjust-13 {
    object-position: 85%;  
}
.img-adjust-14 {
    object-position: 90%;  
}
.img-adjust-15 {
    object-position: 100%;  
}


/* ......................................... zoom hover effect - index gallery ............................................. */

.hover-top-left:hover {
    transform: $hover-zoom;
    object-position: -70% -40%;
}

.hover-center:hover {
    transform: $hover-zoom;
}

.hover-top:hover {
    transform: $hover-zoom;
    object-position: 50% -40%;
}

.hover-top-lg:hover {
    transform: $hover-zoom;
    object-position: 50% 7px;
}
  
.hover-top-right:hover {
    transform: $hover-zoom;
    object-position: 110% -40%;
}

.hover-top-right-lg:hover {
    transform: $hover-zoom;
    object-position: 130% 5px;
}

.hover-right:hover {
    transform: $hover-zoom;
    object-position: 110% 50%;
}

.hover-right-lg:hover {
    transform: $hover-zoom;
    object-position: 130% 50%;
}


.hover-bottom-right:hover {
    transform: $hover-zoom;
    object-position: 110% 120%;
}

.hover-bottom:hover {
    transform: $hover-zoom;
    object-position: 50% 120%;
}

.hover-bottom-left:hover {
    transform: $hover-zoom;
    object-position: -50% -40%;
}

.hover-left:hover {
    transform: $hover-zoom;
    object-position: -10% 50%;
}

.hover-left-sml:hover {
    transform: $hover-zoom;
    object-position: -10% 50%;
}
  

.filter-item-text {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 5px;

    @include tablet {
        padding-top: 0px;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 3.5px;
    }
}

.scientific-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
    height: 50px;
    font-size: 13.5px;
    font-style: italic;
    line-height: 1.2em;

    @include tablet {
        height: 35px;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}


.common-name {
    position: relative;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.2em;
    padding-top: 10px;

    &::before {
        content: '';
        display: block;
        height: 2px;
        background: color(grey);
        position: absolute;
        top: -0.4rem;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 10px;
    }

    @include tablet {
        font-size: 15px;
        padding-top: 7px;
        margin-bottom: 15px;
    }
}

.chinese-name-container {
    font-size: 11px;
    margin-top: 23px;
    line-height: 1px;

    @include tablet {
        font-size: 7.7px;
        margin-top: 11.5px;
    }
}

.chinese-name-chars {
    margin-bottom: 15px;

    @include tablet {
        margin-bottom: 10px;
    }
}

.chinese-name-romanized {
    margin-bottom: 25px;
    @include tablet {
        margin-bottom: 20px;
    }
}


.img-container {
    position: relative;
}

.img-container img {
    display: block;
}

.img-container .fa-exclamation-triangle {
    position: absolute;
    color: color(yellow);
    background-color: color(red);
    border-radius: 3px;
    border: 4px solid color(red);
    top: 0px;
    right: 0px;

    @include tablet {
        font-size: 14px;
    }
}

/* ........................................................ gallery intro........................................................ */

.gallery-intro {
    text-align: center;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin: 40px 25px 20px 20px;
    color: color(white);

    @include tablet {
        font-size: 15px;
    }
    @include mobile {
        margin-top: 20px;
    }
}  



/* ........................................................ about.html ........................................................ */

.about-col {
    padding: 0;
    display: flex;
    flex-direction: column; /* there is a heading... */
}

%text-box-template {  /* SASS inheritance */
    color: color(white-lighter);
    font-size: 20px;
    line-height: 2rem;
    margin-top: 0;
    width: 90%;
    max-width: 1200px;
    padding: 30px 0;

    @include tablet {
        font-size: 18px;
        line-height: 25px;
    }
    @include mobile {
        font-size: 16px;
        border-radius: 20px;
    }
}

.text-box {
    @extend %text-box-template;
    align-self: center; /* center about-box in viewport*/ 
    margin-left: 5%;
    margin-right: 5%;

    @include tablet {
        padding: 20px 0;
        
    } 
}


.text-box--species {
    @extend %text-box-template;
    flex: 1;
    padding: 30px 0;
}

.text-box--species-media {
    @extend %text-box-template;
    flex: 1;
    padding: 10px 0;
    border-radius: 30px;
    margin-top: 20px;

    @include mobile {
        border-radius: 20px;
        margin-top: 0;
    }
}

.text-box--links {
    @extend %text-box-template;
    margin-bottom: 0px;
    align-self: center; /* center about-box in viewport*/ 
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    padding: 30px 0; 

    @include tablet {
        padding: 20px 0;
    }

    @include mobile {
        padding: 10px 0;
    }
}


.site-link {
    color: color(green);
}

.site-link--species {
    color: color(green);
    font-style: italic;
}

.site-link:hover, .site-link--species:hover {
    color: color(green);
}

.about-box-bottom {

    @include tablet {
        padding-top: 5px;
    }
}

.about-box p {
    margin-bottom: 0;
}

%header-template {
    color: color(white-lighter);
    letter-spacing: 3px;

    @include ipad {
        text-align: center;
    }
}

.header {
    @extend %header-template;
    text-align: center;
    margin-top: 25px;
    font-size: 35px;

    @include tablet {
        font-size: 26px;
        margin-top: 40px;
    }
    @include mobile {
        font-size: 17.5px;
        margin-top: 20px;
    }
}

.header-links {
    @extend %header-template;
    text-align: left;
    font-size: 28px;
    margin-top: 25px;

    @include tablet {
        font-size: 20.8px;
        margin-top: 15px;
    }
    @include mobile {
        font-size: 18px;
        margin-top: 10px;
    }    
}


.header--name {
    @extend %header-template;
    font-size: 35px;
    margin-top: 25px;
    @include tablet {
        font-size: 26px;
    }
    @include mobile {
        font-size: 17.5px;
    }
}

.header--species {
    @extend %header-template;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    line-height: 1.5em;

    @include tablet {
        font-size: 30px;

    }
    @include mobile {
        font-size: 20px;
        
    }
}

.header--status, .header--danger {
    @extend %header-template;
    font-size: 25px;

    @include tablet {
        font-size: 19px;
    }
    @include mobile {
        font-size: 12.5px;
    }
}

.header--status {
    margin-top: 30px;

    @include mobile {
        margin-top: 15px;
    }
}
.my-list1 li, .my-list2 li {
    font-size: 20px;

    @include tablet {
        font-size: 18px;
        line-height: 25px; 
        
    }
    @include mobile {
        font-size: 16px;
        border-radius: 20px;
    }
}


.my-list1 {
    margin-top: 30px;
    margin-left: 20px;
    list-style: none;
    text-align: left;
    

    @include tablet {
        margin-top: 15px;
    }
}

.my-list2 {
    margin-top: 15px;
    margin-left: 20px;
    list-style: none;
    text-align: left;

    @include tablet {
        margin-top: 5px;
    }
}

.my-list1 li::before, .my-list2 li::before {
    content: "\2022";
    color: color(red);
    display: inline-block; 
    font-size: 25px;
    width: 1em;
    margin-left: -1em;
    top: 0;
}

/* ........................................................ book.html ........................................................ */

.text-box--book {
    display: flex;
    flex-wrap: wrap;
}

.book-img-container {
    text-align: center;
    margin-right: 20px;
    margin-top: 10px;

    @include desktop {
        width: 100%;
        padding-bottom: 30px;
        margin-right: 0px;
    }
}

.book-img {
    width: 280px;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 7px 6px rgba(0,0,0,0.3);


    @include tablet {
        width: 200px;
    }
}

.book-text-1 {
    flex: 1;
}

.book-text-2 {
    margin-top: 20px;
}
/* ........................................................ links.html ........................................................ */

th.table-header {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 5px; 
    font-size: 30px;

    @include tablet {
        font-size: 22.5px;
        padding-top: 25px;
 
    }
    @include mobile {
        font-size: 21px;
        padding-top: 15px;
    }
}

/* ........................................................ species pages ........................................................ */

.species-media {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.text-box-container {
    margin-left: 5%;
    margin-right: 5%;   
    display: flex;
    justify-content: center;
}

.text-box-container-info {
    margin-top: 10px; 

    @include tablet {
        margin-top: 5px;
    }
}

.species-info-box {
    display: flex;
    flex-wrap: wrap;

    @include tablet {
        flex-direction: column;
        letter-spacing: -0.052rem;
    }

}

.info-box-header {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    font-weight: 600;

    @include tablet {
        padding-top: 10px;
        padding-bottom: 0;
        padding-right: 0;
    }
}

.info-box-text {
    flex: 4;
    padding: 10px 0px;
    @include tablet {
        padding: 0;
        letter-spacing: -0.052rem;
    }

}

.header-box {
    text-align: center;
}


/* .............................................. swiper gallery - school talks ................................................. */

#header--school-talks {
    margin-top: 0;
    text-align: left;
    
    @include ipad {
        text-align: center;
    }
}

