$colors: (
    black: black,
    white: white,
    white-lighter: rgb(236, 236, 236),
    off-white: #d8d8d8,
    grey: rgb(192, 192, 192),
    dark-grey: #0e0e0e,
    yellow: #fefb10,
    orange: orange,
    light-yellow: #fdfa54,
    red: red,
    red-lighter: #ff1110,
    maroon: #800000,
    green: #00b200
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$hover-zoom: scale(1.2);

$scroll-width: calc(100vw - 100%);

$desktop: 1280px; // large screen
$gallery-images: 1200px; // change margin when gallery images decr in size
$ipad: 1023px; // ipad wide view
$menu-button: 991px; // width when menu aria appears
$tablet: 812px; // smaller sized screens --> decr size by about 1/2
$tablet-mobile: 600px;
$mobile: 460px; // small sized screens


@mixin desktop {
    @media all and (max-width: #{$desktop}) {
        @content;
    }
}

@mixin gallery-images {
    @media all and (max-width: #{$gallery-images}) {
        @content;
    }
}

@mixin ipad {
    @media all and (max-width: #{$ipad}) {
        @content;
    }
}

@mixin menu-button {
    @media all and (max-width: #{$menu-button}) {
        @content;
    }
}

@mixin tablet {
    @media all and (max-width: #{$tablet}) {
        @content;
    }
}

@mixin tablet-mobile {
    @media all and (max-width: #{$tablet-mobile}) {
        @content;
    }
} 

@mixin mobile {
    @media all and (max-width: #{$mobile}) {
        @content;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body::-webkit-scrollbar {
    width: 16px;
}

body {
    //font-family: Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
    font-family: Arial, sans-serif;
    letter-spacing: 0.02rem;
    background-color: color(dark-grey);
    scrollbar-width: auto;
    scrollbar-color: color(maroon) color(black);

    // &:lang(zh-TW) {
    //     font-family: "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", Arial, sans-serif;
    //     font-weight: 100;
    // }

    // &:lang(en-US) {
    //     font-family: Arial, sans-serif;
    //     letter-spacing: 0.02rem;
    //     font-weight: 400px;
    // }

}

:lang(zh) {
    font-family: "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", Arial, sans-serif;
    font-weight: 100;
}

:lang(en) {
    font-family: Arial, sans-serif;
    letter-spacing: 0.02rem;
    font-weight: 400px;
}


body::-webkit-scrollbar-track {
    background: color(black);
}

body::-webkit-scrollbar-thumb {
    background-color: color(maroon);
    border-radius: 6px;
}


body.remove-scroll {
    overflow: hidden;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    padding-right: $scroll-width;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    //min-height: 100vh;
}  

// make Chinese font thinner
// #text-chinese {
//     font-weight: 100;
// }

// make English text on Chinese pages bolder
#text-english {
    font-weight: 400;
}

h5 {
    font-weight: bold;
}
/* ........................................................... nav  .......................................................... */

nav {
    background-color: color(black);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid color(white);
}
      
  /* container to make minimum nav width */
.nav--items {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.website-logo {
    height: 32px;
    margin-bottom: -9px;

    @include tablet {
        height: 28px;
    }

    @include tablet-mobile {
    height: 24px;
    width: 210.917px;
    }
}
      
.logo {
    font-size: 23px;
    color: color(white);
    width: 50%;
    padding-left: 5%;

    a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: color(white); 
    }
}


.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: baseline;  /* align text of nav items and language select */
    width: 50%; 
    margin-right: 5%;

    li {
        list-style: none; 
         
        &:focus {
            outline: none;
        } 
    }

    a {
        text-decoration: none;
        color: color(white);
        letter-spacing: 1.5px;
        font-weight: bold;
        position: relative;   
        
        &:hover {
            cursor: pointer;    
        }

        &::after {
            content: '';
            display: block;
            height: 3px;
            background: color(white);
            position: absolute;
            top: 1.2em;
            left: 0;
            right: 0;
            border-radius: 10px;
            transform: scale(0);
            transition: transform ease 0.25s;    
        }

        &:hover::after {
            transform: scale(1,1);
        }
    }

    a:lang(zh-TW){
        font-weight: 100;
    }

    a:lang(en-US) {
        font-weight: bold;
    }
}

// styling active page
body.home .nav-home a,
body.about .nav-about a,
body.school-talks .nav-school-talks a,
body.book .nav-book a,
body.links .nav-links-page a {
    border-bottom: 2px solid color(white);
}


/* ........................................................ nav search ........................................................ */

.search-input-container {
    position: relative;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.search-input-spacer {
    width: 50%;
    flex: 1;
    margin-left: 5%;

    @include tablet-mobile {
        display: none;
    }
}

.search-input {
    font-family: Arial, sans-serif;
    letter-spacing: 0.02rem;
    height: 0;
    border: 0;
    border-radius: 5px;
    margin-right: 40px;
    padding-left: 14px;
    transition: height 1s ease;
    font-size: 1rem;
    cursor: pointer;
    flex: 1;

    @include tablet {
        font-size: 0.875rem;
    }

    @include tablet-mobile {
        margin: 0 5%;
    }
}

.search-btn {
    position: absolute;
    right: 10px;
    height: 32px;
    margin: 2px 10px 2px 5.5px;
    background-color: rgba(255,255,255,0);
    border: 0;  
    cursor: pointer;
    
    @include menu-button {
        margin-bottom: -6px;
    }
}
  
.search-btn img {
    margin: 1px;
}
// .search-icon {
//     position: absolute;
//     right: 10px;
//     height: 32px;
//     margin: 10px 0.5px 0.5px 5.5px;
//     cursor: pointer;
    
//     @include tablet {
//         height: 28px;
//     }

//     @include tablet-mobile {
//         width: 24px;
//         margin-bottom: -6px;
//     }
// }
  

.search-close {
    position: absolute;
    right: 10px;
    display: none;
    height: 23px;
    margin: 2px 10px 2px 5.5px;
    background-color: rgba(255,255,255,0);
    width: 24px;
    border: 0;
    cursor: pointer;
    
    @include menu-button {
        height: 18.1px;
        margin-bottom: -6px;
    }
}
  
.search-close img {
    width: 100%;
}
  
/* ........................................................ nav burger ........................................................ */
  
.burger {
    display: none;
    cursor: pointer;
    width: 50%;
    text-align: center;
    margin-bottom: -16.4px; 
    -webkit-tap-highlight-color: transparent;
    // &:focus {
    //     outline: 0  ;
    // }

}
    
  /* to make burger icon right aligned */
.burger--container {
    width: 25px;
    margin: 0 auto;
    text-align: left;
    background-color: rgba(255,255,255,0);
    border: 0;
    outline: none;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        animation:pulseAnimation ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
}



    @keyframes pulseAnimation {
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }




}
    
.burger--container div {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
    transition: all 0.5s ease;
}
    
.line1 {
    width: 5px; 
    height: 2px;
    margin-left: 20px; /* to make burger icon right aligned */
    background-color: color(white);  
}
.line2 {
    width: 14px;
    height: 3px;
    margin-left: 11px; /* to make burger icon right aligned */
    background-color: color(red-lighter);
}
.line3 {
    width: 25px;
    height: 4px;
    background-color: color(white);
 
    
}


/* ........................................................ nav mobile ........................................................ */
    
@media (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: fixed;
        right: 0;
        bottom: 0;
        padding-top: 50px;
        top: 0;
        background-color: color(maroon);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 50%;
        margin-right: 0;
        z-index: 2;
        transform: translateX(100%);
        will-change: transform;

        li {
            opacity: 0;
            padding: 10px;
        }

        li.nav-home {
            padding-top: 20px;
        }
    }
    
    .burger {
      display: block;
    }
}
    
    
.nav-active {
    transform: translateX(0%);
    z-index: 3;
}
    
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
}

@keyframes navSwipeOpen {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes navSwipeClose {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}
    
.burger.close {
    width: 50%;
    color: color(black);
    z-index: 4;
    //padding-left: 16px;
}
  
.close {
    .line1 {
        width: 25px; 
        margin-left: 0;
        transform: rotate(-45deg) translate(-5px, 6px);
        margin-top: 6.5px;
        margin-bottom: 4px;
        padding-bottom: 3px;
    }
    .line2 {
        margin-left: 0px;
        opacity: 0;
    }
    .line3 {
        height: 2px;
        transform: rotate(45deg) translate(-5px, -6px);
        margin-top: -1px;
        margin-bottom: 5px;
        padding-bottom: 3px;
    }
}  

.search-ul {
    /* Remove default list styling */
    position: absolute;
    z-index: 2;
    list-style-type: none;
    width: calc(47.5% - 12px);
    justify-self: stretch;
    padding: 0;
    margin-top: 40px;
    right: 40px;
    display: none;
    max-height: 306px;
    overflow-y: scroll;
    border-radius: 5px;
    background-color: color(off-white);

    @include tablet {
        max-height: 277px;
    }

    @include tablet-mobile {
        left: 0;
        width: 90%;
        margin-left: 5%;
    }
}
  
.search-ul li a {
    border: 1px solid #ddd; 
    margin-top: -1px;
    background-color: #f6f6f6; /* Grey background color */
    padding: 6px 13px; 
    text-align: left;
    text-decoration: none; /* Remove default text underline */
    font-size: 1rem; 
    color: color(black); 
    display: block; /* Make it into a block element to fill the whole list */

    @include tablet {
        font-size: 0.875rem;
    }
}
  
.search-ul li a:hover {
    background-color: #eee; /* Add a hover effect to all links */
}


/* ....................................................  nav filter list ..................................................... */
//  Modified from: https://www.w3schools.com/howto/howto_js_filter_lists.asp .

.main-content {
    min-height: 100vh;
    transition: all;  /* for slowly decr opacity of main when text in search bar */ 
    animation:fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    padding: 40px 0;

    @include tablet {
        padding: 20px 0;
    }

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main-cover {
    display: none;
}

.main-cover.main-cover-opened {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: all 0.5s ease;
}


    
  /* make background fade when nav menu opened - toggled using JavaScript */
.main-content.background-fade {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    height: 100%;
    bottom: 0;
    left:0;
    right: 0;
    transition: all 0.5s ease;
}


footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    padding: 20px 5px;
    background-color: color(black);
    color: color(white);
    box-shadow: 0 0 1px  rgba(255,255,255,0.1);
    margin-top: 60px;


    // make footer slanted
    padding-top: 90px;
    padding-bottom: 40px;
    clip-path: polygon(0px 100px, 100% 0px, 100% 100%, 0% 100%);


    @include tablet {
        font-size: 10px;
    }
}

.footer-img-container {
    padding-bottom: 20px;
}

footer video {
    width: 100px;
    height: 100%;
    border-radius: 5px;

    @include tablet {
        width: 75px;
    }
}

.developer-link {
    text-decoration: none;
    color: color(white);
}

/* ..................................................... gallery container ..................................................... */

.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
}

  
.gallery-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-flow: row;
    grid-gap: 20px;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    font-size: 75%;

    @include tablet {
        grid-template-columns: repeat(auto-fit, 139px);
        grid-gap: 10px;
        font-size: 70%;
    }
}

// The grid-cards in the gallery
.gallery-image {
    position: relative;
    border-radius: 5px;
    background-color: color(off-white);
    box-shadow: 5px 7px 6px rgba(0, 0, 0, 0.3);
    max-height: 350px;
}
  
.img-container {
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.img-container a:focus img {
    border: 2px solid orange;    
}
  
.gallery-image img {
    width: 100%;
    height: 166.75px;
    object-fit: cover; /* crops image top and bottom in this case */
    cursor: pointer;
    transition: all 0.9s ease;
  
    @include tablet {
      height: 116.7px;
    }
}

.img-adjust-1 {
    object-position: 10%;  
}
.img-adjust-2 {
    object-position: 13%;  
}
.img-adjust-3 {
    object-position: 20%;  
}
.img-adjust-4 {
    object-position: 25%;  
}
.img-adjust-5 {
    object-position: 30%;  
}
.img-adjust-6 {
    object-position: 35%;  
}
.img-adjust-7 {
    object-position: 40%;  
}
.img-adjust-8 {
    object-position: 60%;  
}
.img-adjust-9 {
    object-position: 65%;  
}
.img-adjust-10 {
    object-position: 70%;  
}
.img-adjust-11 {
    object-position: 75%;  
}
.img-adjust-12 {
    object-position: 80%;  
}
.img-adjust-13 {
    object-position: 85%;  
}
.img-adjust-14 {
    object-position: 90%;  
}
.img-adjust-15 {
    object-position: 100%;  
}


/* ......................................... zoom hover effect - index gallery ............................................. */

.hover-top-left:hover {
    transform: $hover-zoom;
    object-position: -70% -40%;
}

.hover-center:hover {
    transform: $hover-zoom;
}

.hover-top:hover {
    transform: $hover-zoom;
    object-position: 50% -40%;
}

.hover-top-lg:hover {
    transform: $hover-zoom;
    object-position: 50% 7px;
}
  
.hover-top-right:hover {
    transform: $hover-zoom;
    object-position: 110% -40%;
}

.hover-top-right-lg:hover {
    transform: $hover-zoom;
    object-position: 130% 5px;
}

.hover-right:hover {
    transform: $hover-zoom;
    object-position: 110% 50%;
}

.hover-right-lg:hover {
    transform: $hover-zoom;
    object-position: 130% 50%;
}


.hover-bottom-right:hover {
    transform: $hover-zoom;
    object-position: 110% 120%;
}

.hover-bottom:hover {
    transform: $hover-zoom;
    object-position: 50% 120%;
}

.hover-bottom-left:hover {
    transform: $hover-zoom;
    object-position: -50% -40%;
}

.hover-left:hover {
    transform: $hover-zoom;
    object-position: -10% 50%;
}

.hover-left-sml:hover {
    transform: $hover-zoom;
    object-position: -10% 50%;
}
  

.gallery-image-text {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 5px;

    @include tablet {
        padding-top: 0px;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 3.5px;
    }
}

.scientific-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
    height: 50px;
    font-size: 13.5px;
    font-style: italic;
    line-height: 1.2em;

    @include tablet {
        height: 35px;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

%common-name-shared {
    position: relative;
    line-height: 1.2em;
    padding-top: 10px;

    &::before {
        content: '';
        display: block;
        height: 2px;
        background: color(grey);
        position: absolute;
        top: -0.4rem;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 10px;
    }

    @include tablet {
        font-size: 15px;
        padding-top: 7px;
        margin-bottom: 15px;
    }
}

.common-name {
    font-size: 17px;
    font-weight: 600;

    @include tablet {
        font-size: 14px;
    }
}

.common-name-chinese {
    @extend %common-name-shared;
    font-size: 1.5rem;
    font-weight: 100;
    
    @include tablet {
        font-size: 1.1rem;
    }
}



.common-name  {
    @extend %common-name-shared;
    position: relative;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.2em;
    padding-top: 10px;

    &::before {
        content: '';
        display: block;
        height: 2px;
        background: color(grey);
        position: absolute;
        top: -0.4rem;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 10px;
    }

    @include tablet {
        font-size: 15px;
        padding-top: 7px;
        margin-bottom: 15px;
    }
}

.chinese-name-container {   
    margin-top: 23px;
    
    @include tablet {    
        margin-top: 11.5px;
    }
}

.chinese-name-chars {
    font-size: 1rem;
    margin-bottom: 15px;
    

    @include tablet {
        font-size: 0.875rem;
    }
}

.chinese-name-romanized {
    font-size: 11px;
    line-height: 1px;
    margin-bottom: 25px;

    @include tablet {
        font-size: 7.7px;
        margin-bottom: 20px;
        letter-spacing: 0.001rem;

    }
}

// common English name class when lang = Chinese
.common-name-english {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2em;
    padding-top: 10px; 
    margin-bottom: 15px; 

    @include tablet {
        font-size: 14px;  
        padding-top: 0;
    }
}


.img-container {
    position: relative;
}

.img-container img {
    display: block;
}

.img-container .fa-exclamation-triangle {
    position: absolute;
    color: color(yellow);
    background-color: color(red);
    border-radius: 3px;
    border: 4px solid color(red);
    top: 0px;
    right: 0px;

    @include tablet {
        font-size: 14px;
    }
}

.img-container .icon-danger {
    position: absolute;
    //color: color(yellow);
    //background-color: color(red);
    border-radius: 3px;
    //border: 4px solid color(red);
    width: 33.6px; 
    height: 28.8px; 
    top: 0px;
    right: 0px;

    @include tablet {
        width: 23.52px; 
        height: 20.16px; 
    }
}

/* ........................................................ gallery intro........................................................ */

.gallery-intro {
    text-align: center;
    font-size: 20.5px;
    letter-spacing: 1.5px;
    margin: 35px 20px 30px 20px;
    color: color(white);

    @include tablet {
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    @include mobile {
        margin-top: 26px;
        margin-bottom: 10px;
    }

}  


/* ........................................................ about.html ........................................................ */

.about-col {
    padding: 0;
    display: flex;
    flex-direction: column; /* there is a heading... */
}

%text-box-template {  /* SASS inheritance */
    color: color(white-lighter);
    font-size: 22px;
    line-height: 36.8px;
    margin-top: 0;
    width: 90%;
    max-width: 1200px;
    padding: 30px 0;

    @include tablet {
        font-size: 20px;
        line-height: 33px;
    }
    @include mobile {
        font-size: 19px;
        line-height: 31.3px;
        border-radius: 20px;
    }
}

.text-box {
    @extend %text-box-template;
    align-self: center; /* center about-box in viewport*/ 
    margin-left: 5%;
    margin-right: 5%;

    @include tablet {
        padding: 20px 0;
        
    } 
}


.text-box--species {
    @extend %text-box-template;
    flex: 1;
    padding: 35px 0;
}

.text-box--species-media {
    @extend %text-box-template;
    flex: 1;
    padding: 0px 0;
    border-radius: 20px;
    margin-top: 33px;
    position: relative;

    &::before {
        content: '';
        display: block;
        height: 2px;
        background: color(grey);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 10px;
    }

    &::after {
        content: '';
        display: block;
        height: 2px;
        background: color(grey);
        position: absolute;
        bottom: -33px;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 10px;
    }

    @include mobile {
        border-radius: 10px;
    }
}

.text-box--links {
    @extend %text-box-template;
    margin-bottom: 0px;
    align-self: center; /* center about-box in viewport*/ 
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    padding-top: 30px; 
    padding-bottom: 0;

    @include tablet {
        //padding: 20px 0;
    }

    @include mobile {
        //padding: 10px 0;
    }
}


.site-link {
    color: color(white);
    text-decoration: underline;
    text-decoration-color: color(red);
    text-decoration-thickness: 2px;
    transition: all 0.5s ease;
}

%site-link--species-template {
    color: color(white);
    text-decoration: underline;
    text-decoration-color: color(red);
    text-decoration-thickness: 2px;
    transition: all 0.5s ease;
}

.site-link--species {
    @extend %site-link--species-template;
    font-style: italic;
}

.site-link--species-common-name {
    @extend %site-link--species-template;
}

.site-link:hover, .site-link--species:hover, .site-link--species-common-name:hover {
    text-decoration-color: color(maroon);
}




.about-box-bottom {

    @include tablet {
        padding-top: 5px;
    }
}

.about-box p {
    margin-bottom: 0;
}

%header-template {
    color: color(white-lighter);
    letter-spacing: 3px;

    @include ipad {
        text-align: center;
    }
}

.header {
    @extend %header-template;
    text-align: center;
    margin-top: 25px;
    font-size: 35px;

    @include tablet {
        font-size: 33px;
        margin-top: 40px;
    }
    @include mobile {
        font-size: 28px;
        margin-top: 20px;
    }
}

.header-links {
    @extend %header-template;
    text-align: left;
    font-size: 30px;
    //margin-top: 0px;
    text-decoration: underline;
    text-decoration-thickness: 3px;

    &:lang(zh-TW) {
        text-underline-position: under;
    }

    @include tablet {
        font-size: 26.3px;
        //margin-top: 28px;
    }
    @include mobile {
        font-size: 19.6px;
        //margin-top: 10px;
    }    
}


.header--name {
    @extend %header-template;
    font-size: 25px;
    @include tablet {
        font-size: 21.8px;
    }
    @include mobile {
        font-size: 14px;
    }
}

.header--species {
    @extend %header-template;
    margin-top: 25px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    line-height: 1.5em;
    font-size: 35px;

    @include tablet {
        font-size: 30.6px;

    }
    @include mobile {
        font-size: 23px;
        
    }
}

.header--status, .header--danger {
    @extend %header-template;
    font-size: 25px;

    @include tablet {
        font-size: 21.8px;
    }
    @include mobile {
        font-size: 16.4px;
    }
}

.header--status {
    margin-top: 15px;

    @include mobile {
        margin-top: 11.3px;
    }
}

.my-list1, .my-list2 {
    margin-left: 0;
}


.my-list1 li, .my-list2 li {
    font-size: 20px;

    @include tablet {
        font-size: 18px;
        line-height: 25px; 
        
    }
    @include mobile {
        font-size: 16px;
        border-radius: 20px;
    }
}


.my-list1--flex-container-item {
    margin-top: 30px;
    list-style: none;
    text-align: left;
    

    @include tablet {
        margin-top: 15px;
    }
}

.my-list2 {
    margin-top: 15px;
    list-style: none;
    text-align: left;

    @include tablet {
        margin-top: 5px;
    }
}

.my-list1--flex-container-item li::before, .my-list2 li::before {
    content: "\2022";
    color: color(red);
    display: inline-block; 
    font-size: 25px;
    width: 0.5em;
    margin-left: -0.5em;
    top: 0;
}

.my-list-1--species {
    margin-top: 0;
}

.my-list1--flex-container {
    display: flex;

    @include tablet {
        flex-direction: column;
    }
}

.my-list1--flex-container-item {
    flex: 1;
}

/* ........................................................ book.html ........................................................ */

.text-box--book {
    display: flex;
    flex-wrap: wrap;
}

.book-img-container {
    text-align: center;
    margin-right: 20px;
    margin-top: 10px;

    @include desktop {
        width: 100%;
        padding-bottom: 30px;
        margin-right: 0px;
    }
}

.book-img {
    width: 280px;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 7px 6px rgba(0,0,0,0.3);


    @include tablet {
        width: 200px;
    }
}

.book-text-1 {
    flex: 1;
}

.book-text-2 {
    margin-top: 0.75rem;
}
/* ........................................................ links.html ........................................................ */

th.table-header {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 5px; 
    font-size: 30px;

    @include tablet {
        font-size: 22.5px;
        padding-top: 25px;
 
    }
    @include mobile {
        font-size: 21px;
        padding-top: 15px;
    }
}

/* ........................................................ species pages ........................................................ */

.species-media {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.text-box-container {
    margin-left: 5%;
    margin-right: 5%;   
    display: flex;
    justify-content: center;
}

.text-box-container-info {
    margin-top: 10px; 

    @include tablet {
        margin-top: 5px;
    }
}

.species-info-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: baseline;

    @include menu-button {
        flex-direction: column;
    }
}

.info-box-header {
    flex: 1;
    //padding-top: 10px;
    //padding-bottom: 10px;
    padding-right: 15px;
    font-size: 25px;

    &:lang(en-US){
        font-weight: 600;
    }

    &:lang(zh-TW){
        font-weight: 100;
    }

    @include menu-button {
        //padding-bottom: 0;
    }

    @include tablet {
        //padding-top: 20px;
        padding-right: 0;
        font-size: 22.5px;
    }

    @include mobile {
        font-size: 21.5px;
    }
}

.info-box-text {
    flex: 4;
    //padding: 10px 0px;

    @include tablet {
        //padding: 0;
        letter-spacing: -0.052rem;
    }
}

.info-box-paragraph {
    margin-bottom: 0.75rem;
}

.info-box-paragraph2 {
    margin-top: 0.75rem;
}


.header-box {
    text-align: center;
    margin: 0 5px;
}

.translator-name {
    text-align: center;
    margin-top: 6rem;
}
/* .............................................. swiper gallery - school talks ................................................. */

#header--school-talks {
    margin-top: 0;
    text-align: left;
    
    @include ipad {
        text-align: center;
    }
}

/* .............................................. contact form ................................................. */

.form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: color(off-white);
    margin-top: 25px;
    font-size: 22px;

    @include tablet {
        margin-top: 40px;
        font-size: 20px;
    }

    @include mobile {
        margin-top: 20px;
        font-size: 19px;
    }
}


.form-input {
    font-family: Arial, sans-serif;
    letter-spacing: 0.02rem;
    width: 500px;
    font-size: 20px;
    border: 2px solid color(white);
    border-radius: 5px;
    padding: 0.5rem 0.5rem;

    @include tablet {
        font-size: 18px;
    }

    @include tablet-mobile {
        width: 90vw;
    }

    @include mobile {
        font-size: 17px;
    }

    &:focus {
        outline: none;
        border: 2px solid color(orange);
    }
}

textarea {
    max-width: 500px;
    min-width: 500px;
    min-height: 200px;
    max-height: 500px;

    @include tablet-mobile {
        max-width: 90vw;
        min-width: 90vw;
    }
  }

.contact-label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    letter-spacing: 1.5px;
}

.contact-btn {
    font-family: Arial, sans-serif;
    letter-spacing: 0.02rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2rem;
    padding: 12px 15px 12px 15px;
    border-radius: 5px;
    border: none;
    background-color: color(red);
    color: white;
}


.contact-btn:hover {
    cursor: pointer;
    background-color:color(red-lighter);
    box-shadow: 1px 1px 4px 0px rgba(255,255,255,0.3);
    transition: all 0.4s ease;
}


.form-group small {
    display: block;
    visibility: hidden;
}

.form-group.success .form-input {
    border-color: #2ecc71;
}

.form-group.error .form-input {
    border-color: color(red);
}

.form-group.error small {
    visibility: visible;
    color: color(red);
}

