$colors: (
    black: black,
    white: white,
    off-white: #d8d8d8,
    grey: rgb(192, 192, 192),
    dark-grey: rgb(22, 22, 22),
    yellow: #fefb10,
    orange: orange,
    orange-yellow: rgb(255, 196, 0),
    red: red,
    maroon: #800000,
    green: #00B200,
    light-green: #14FF4c
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$hover-zoom: scale(1.2);

$desktop: 1280px; // large screen
$filter-wrap: 1200px; // change margin when filters wrap
$ipad: 1023px; // ipad wide view
$menu-button: 991px; // width when Bootstrap menu aria appears
$tablet: 812px; // smaller sized screens --> decr size by about 1/2
$logo-resize: 600px;
$mobile: 460px; // small sized screens


@mixin desktop {
    @media all and (max-width: #{$desktop}) {
        @content;
    }
}

@mixin filter-wrap {
    @media all and (max-width: #{$filter-wrap}) {
        @content;
    }
}

@mixin ipad {
    @media all and (max-width: #{$ipad}) {
        @content;
    }
}

@mixin menu-button {
    @media all and (max-width: #{$menu-button}) {
        @content;
    }
}

@mixin tablet {
    @media all and (max-width: #{$tablet}) {
        @content;
    }
}

@mixin logo-resize {
    @media all and (max-width: #{$logo-resize}) {
        @content;
    }
} 

@mixin mobile {
    @media all and (max-width: #{$mobile}) {
        @content;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: color(dark-grey);
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 40px;
    min-height: 100vh;

    @include tablet {
        grid-gap: 20px;
    }
}  


// ************************************************************* Nav ************************************************************* //

nav {
    background-color: color(black);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
  }
      
  /* container to make minimum nav width */
  .nav--items {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    }
  
  .website-logo {
    height: 32px;
    margin-bottom: -9px;
  
    @include logo-resize {
      height: 24px;
    }
  }
      
  .logo {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 23px;
    color: color(white);
    width: 50%;
    padding-left: 5%;
  }
  
  .logo a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: color(white); 
  }
  
  .logo a span {
    border-bottom: 2px solid green;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: baseline;  /* align text of nav items and language select */
    width: 50%; 
    margin-right: 5%;
  }
    
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a:hover {
    cursor: pointer;
  }
    
  .nav-links a {
    text-decoration: none;
    color: color(white);
    letter-spacing: 1.5px;
    font-weight: bold;
    position: relative;
  }
    
  .nav-links a::after {
    content: '';
    display: block;
    height: 3px;
    background: color(white);
    position: absolute;
    top: 1.5em;
    left: 0;
    right: 0;
    border-radius: 10px;
    transform: scale(0);
    transition: transform ease 0.25s;
  }
    
  .nav-links a:hover::after {
    transform: scale(1,1);
  }

  // styling active page
body.home .nav-home a,
body.about .nav-about a,
body.school-talks .nav-school-talks a,
body.book .nav-book a,
body.links .nav-links-page a {
    border-bottom: 2px solid rgba(255, 255, 255, 0.95);
}




/* ........................................................ nav search ........................................................ */
.search-input-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }

  .search-input-spacer {
    width: 50%;
    flex: 1;
    margin-left: 5%;

    @include logo-resize {
        display: none;
    }
  }

  .search-input {
    font-family: 'Montserrat', sans-serif;
    height: 0;
    border: 0;
    border-radius: 30px;
    margin-right: 40px;
    -webkit-transition: height 1s ease;
    transition: height 1s ease;
    font-size: 1rem;
    cursor: pointer;
    flex: 1;
    
    &:focus {
        outline: none;
    }

    @include logo-resize {
        margin: 0 5%;
    }
  }
  

  
  .search-icon {
    position: absolute;
    right: 10px;
    width: 32px;
    margin: 5.5px 0.5px 0.5px 5.5px;
    cursor: pointer;
  }
  
  .search-close {
    position: absolute;
    right: 10px;
    display: none;
    font-size: 3rem;
    cursor: pointer;
  }
  
  
    /* ........................................................ nav burger ........................................................ */
  
  .burger {
    display: none;
    cursor: pointer;
    width: 50%;
  }
    
  /* to make burger icon right aligned */
  .burger--container {
    width: 25px;
    margin: 0 auto;
    text-align: left;
  }
    
  .burger--container div{
    background-color: color(white);
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
    transition: all 0.5s ease;
  }
    
  .line1 {
    width: 21px; 
    height: 2px;
    margin-left: 4px; /* to make burger icon right aligned */
  }
  .line2 {
    width: 23px;
    height: 3px;
    margin-left: 2px; /* to make burger icon right aligned */
  }
  .line3 {
    width: 25px;
    height: 4px;
  }
    
    
  /* ........................................................ nav mobile ........................................................ */
    
  @media (max-width: 1000px) {
    body {
      overflow-x: hidden;
    }
    .nav-links {
      position: fixed;
      right: 0;
      bottom: 0;
      padding-top: 20vh;
      top: 0;
      background-color: color(maroon);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      width: 50%;
      margin-right: 0;
      z-index: 1;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
    
    .nav-links li {
      opacity: 0;
      padding: 5px;
    }
    
    .burger {
      display: block;
    }
  }
    
    
  .nav-active {
    transform: translateX(0%);
    z-index: 2;
  }
    
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
    
  .burger.close {
    width: 50%;
    color: color(black);
    z-index: 3;
  }
    
  .close .line1 {
    width: 25px; 
    margin-left: 0;
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .close .line2 {
    margin-left: 0px;
    opacity: 0;
  }
  .close .line3 {
    height: 2px;
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
/////////////////////// OLD NAV......///////////////  



// .navbar {
//     flex-direction: column;
//     box-shadow: 0 0 1px  rgba(255,255,255,0.1);
//     background-color: color(black);
//     padding-left: 0;
//     padding-right: 0;
//     padding-top: 0px;
//     border-bottom: rgba(255, 255, 255, 0.5) 0.5px solid;

//     @include mobile {
//         padding-bottom: 0;
//     }
// }


// /* add hover underline effect to nav links */

// .nav-link {
//     position: relative;
// }

// .nav-link::after {
//     content: '';
//     display: block;
//     height: 2px;
//     background: white;
//     position: absolute;
//     bottom: -2px;
//     left: 0;
//     right: 0;
//     border-radius: 10px;
//     transform: scale(0);
//     transition: transform ease 0.25s;
// }

// .nav-link:hover::after {
//     transform: scale(1,1);
// }
  


// .navbar-brand-container {
//     width:100%;
//     text-align: center;
//     border-bottom: rgba(255, 255, 255, 0.5) 0.5px solid;
//     box-shadow: 0 0 1px  rgba(255,255,255,1);
// }
// .navbar-brand {
//     font-weight: 700;
//     padding-top: 5px;
//     padding-bottom: 5px;
//     margin-right: 0;
// }

// .navbar-items-container {
//     text-align: center;
//     width: 100%;
//     padding-top: 8px;

//     @include mobile {
//         padding-top: 1px;
//     }
// }

// .navbar img {
//     height: auto;
//     width: 200px;
//     border-radius: 5px;

//     @include tablet {
//         width: 188px;
//     }
//     @include mobile {
//         width: 130px;
//     }
// }

// .navbar-nav {
//     flex: 1.62;
// }

// #navbarToggler ul > li {  
//     padding: 0 3px;
// }

// #navbarToggler > ul {  /* made more specific with > so that it did not make search list ul a flex-box  */
//     display: flex; 
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: space-evenly;

//     @include mobile {
//         justify-content: center;
//     }
//   }

//   .navbar-toggler {
//     //background-color: color(black);
//     font-size: 70px;
//     padding: 20px 20px 25px;
//     color: color(white);
//     line-height: 10px;

//     @include tablet {
//         font-size: 60px;
//         padding: 13px 13px 17px 13px;
//         line-height: 13px;
//     }

//     @include mobile {
//         font-size: 40px;
//     }
// }

// .navbar-toggler span{
//     color: white;
// }

// .navbar-toggler:focus {
//     outline: none;
// }

.my-form {
    flex-wrap: nowrap;
    flex: 1;
    margin-left: 15px;
    margin-right: 15px;
}

// .dropdown-menu.show {
//     width: 160px;
//   }

// .nav-link {
//     margin-left: 5px;
//     margin-right: 5px;
//     color: rgba(255, 255, 255, 0.95);
// }

// .nav-link:focus {
//     outline: none;
//   }

// .nav-link:hover  {
//     color: rgba(255, 255, 255, 0.6);
//     transition: all 0.5s;
// }

// .nav-link i:hover  {
//     color: color(green);
//     transition: all 0.5s;
// }

// .nav-link i {

//     @include tablet {
//         font-size: 20px;
//     }   
// }

// .search-input-container {
//     flex: 1;
//     display: flex;

//     @include tablet {
//         padding-top: 0;
//         padding-bottom: 0;
//     }
// }


// button.my-btn {
//     padding-top: 9px;
//     padding-bottom: 9px;
//     margin-left: 10px;
//     border-width: 2px;

//     @include tablet {
//         font-size: 16px;
//         padding-top: 7px;
//         padding-bottom: 7px;
//     }
// }


//   ...................... Modified from: https://www.w3schools.com/howto/howto_js_filter_lists.asp ............
  
// #searchInput {
//     line-height: 38px;
//     width: 100%;
//     border-radius: 5px;
//     padding: 5px 13px;
//     font-size: 18px;

//     @include tablet {
//         font-size: 16px;
//         padding-top: 0;
//         padding-bottom: 0;
//     }
// }  

// #searchInput:focus {
//     outline: none;
// }

#searchUL {
    /* Remove default list styling */
    position: absolute;
    z-index: 1;
    list-style-type: none;
    flex: 1;
    width: calc(38.17% - 12px); /* found empirically using a linear equation */
    justify-self: stretch;
    padding: 0;
    margin-top: 52.2px;
    display: none;
    max-height: 392px;
    overflow-y: scroll;
    border-radius: 5px;
    background-color: color(off-white);

    @include menu-button {
        width: calc(100% - 30px); 
    }
    @include tablet {
        // width: calc(100% - 126.7px); 
        max-height: 303px;
        margin-top: 42.2px;
    }
}
  
  #searchUL li a {
    border: 1px solid #ddd; 
    margin-top: -1px;
    background-color: #f6f6f6; /* Grey background color */
    padding: 6px 13px; 
    text-align: left;
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; 
    color: black; 
    display: block; /* Make it into a block element to fill the whole list */

    @include tablet {
        font-size: 16px;
    }
}
  
#searchUL li a:hover {
    background-color: #eee; /* Add a hover effect to all links */
}


//   ...................... Modified from: https://www.w3schools.com/howto/howto_js_filter_lists.asp ............

main {
    // position: relative;
    transition: all 1s;  /* for slowly decr opacity of main when text in search bar */ 
    min-height: 100vh; /* when filtering gallery (index.html)  when mildly venomous clicked (only 3 results)... prevent footer from showing  */
}

// main::after {
//     content: "";
//     background-color: color(dark-grey);
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     position: absolute;
//     z-index: -1; 
//   }
    
//   .main-content {
//     max-width: 1200px;
//     min-height: 100vh;
//     margin: 0 auto;
//     bottom: 0;
//     position: relative;
//   }
    
  /* make background fade when nav menu opened - toggled using JavaScript */
  .main-content.background-fade {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    height: 100%;
    bottom: 0;
    left:0;
    right: 0;
    transition: all 0.5s ease;
  }


footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    padding: 5px;
    background-color: color(black);
    color: color(white);
    box-shadow: 0 0 1px  rgba(255,255,255,0.1);
    border-top: rgba(255, 255, 255, 0.5) 0.5px solid;
    margin-top: 60px;
}

.footer-img-container {
    padding: 20px;
}

footer img {
    width: 100px;
    height: 100%;
    margin: 10px;
    border-radius: 5px;

    @include tablet {
        width: 50px;
    }
}

// ******************************************************************** Gallery filter ************************************************************************ //

.filter-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.filter-categories span { 
    padding:0.25rem;
    
    @include tablet {
        padding: 0.25rem;
    }

}
  

.filter-label { 
    display: block; /* allow bottom and top margin to be set (push away filter labels above or below) */ 
    margin-right:0.5rem; 
    padding:0.5rem 0.75rem; 
    border-radius:0.5rem; 
    font-size:1rem;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    background: color(yellow);
    transition: all 0.3s ease 0s;
  
    &:hover {
      cursor: pointer;
      background: color(orange-yellow);
    }    

    @include tablet {
        font-size: 0.9rem;
        padding:0.4rem 0.6rem; 
        margin-right: 0.1rem;
    }
}
  
  .filter-input {
    position: absolute; /* align over label.. good for better for accessibilty on some touch devices for discoverability. https://css-tricks.com/the-checkbox-hack/ */
    display: flex;
    z-index: 1;
    opacity: 0; /* hide */
     
    &:checked + label { // adjacent sibling selector
      background-color: color(orange);
      transform: translateX(3px);
      box-shadow: none;
    }
}
  

// ****************************************************** Gallery container ******************************************************* //

#gridCardsWithFilter {
    max-width: 1200px;
    margin: 0 auto;
}

  
.filter-wrap {
    position:relative; 
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-flow: row;
    grid-gap: 20px;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    font-size: 75%;

    @include tablet {
        grid-template-columns: repeat(auto-fit, 100px);
        grid-gap: 10px;
        font-size: 50%;
    }
}

// The grid-cards in the gallery
.filter-item {
    position: relative;
    border-radius: 5px;
    background-color: color(off-white);
    box-shadow: 5px 7px 6px rgba(0, 0, 0, 1);
    max-height: 350px;
  
    &:hover {
      transition: all 0.9s ease both;
    }
}
  
.img-container {
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
  
.filter-item img {
    width: 100%;
    height: 166.75px;
    object-fit: cover; /* crops image top and bottom in this case */
    cursor: pointer;
    transition: all 0.9s ease;
  
    @include tablet {
      height: 83.375px;
    }
}

.img-adjust-1 {
    object-position: 10%;  
}
.img-adjust-2 {
    object-position: 13%;  
}
.img-adjust-3 {
    object-position: 20%;  
}
.img-adjust-4 {
    object-position: 25%;  
}
.img-adjust-5 {
    object-position: 30%;  
}
.img-adjust-6 {
    object-position: 35%;  
}
.img-adjust-7 {
    object-position: 40%;  
}
.img-adjust-8 {
    object-position: 60%;  
}
.img-adjust-9 {
    object-position: 65%;  
}
.img-adjust-10 {
    object-position: 70%;  
}
.img-adjust-11 {
    object-position: 75%;  
}
.img-adjust-12 {
    object-position: 80%;  
}
.img-adjust-13 {
    object-position: 85%;  
}
.img-adjust-14 {
    object-position: 90%;  
}
.img-adjust-15 {
    object-position: 100%;  
}

// ******************************************** zoom hover effect - index.html gallery *********************************************** //

.hover-top-left:hover {
    transform: $hover-zoom;
    object-position: -70% -40%;
}

.hover-center:hover {
    transform: $hover-zoom;
}

.hover-top:hover {
    transform: $hover-zoom;
    object-position: 50% -40%;
}

.hover-top-lg:hover {
    transform: $hover-zoom;
    object-position: 50% 7px;
}
  
.hover-top-right:hover {
    transform: $hover-zoom;
    object-position: 110% -40%;
}

.hover-top-right-lg:hover {
    transform: $hover-zoom;
    object-position: 130% 5px;
}

.hover-right:hover {
    transform: $hover-zoom;
    object-position: 110% 50%;
}

.hover-right-lg:hover {
    transform: $hover-zoom;
    object-position: 130% 50%;
}


.hover-bottom-right:hover {
    transform: $hover-zoom;
    object-position: 110% 120%;
}

.hover-bottom:hover {
    transform: $hover-zoom;
    object-position: 50% 120%;
}

.hover-bottom-left:hover {
    transform: $hover-zoom;
    object-position: -50% -40%;
}

.hover-left:hover {
    transform: $hover-zoom;
    object-position: -10% 50%;
}

.hover-left-sml:hover {
    transform: $hover-zoom;
    object-position: -10% 50%;
}
  

.filter-item-text {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 5px;

    @include tablet {
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 3.3px;
    }
}

.common-name {
    position: relative;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.2em;

    &::before {
        content: '';
        display: block;
        height: 2px;
        background: color(grey);
        position: absolute;
        top: -0.4rem;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 10px;
    }

    @include tablet {
        font-size: 10px;
        line-height: 10px;
        margin-bottom: 8px;
    }
}

.chinese-name {
    padding-top: 5px 0;
    line-height: 1px;

    @include tablet {
        font-size: 5.99px;
        padding-top: 0;
        line-height: 0.5px;
    }
}

.chinese-name p {
    margin-bottom: 15px;
    @include tablet {
        margin-bottom: 10px;
    }
}

.scientific-name {
    margin: 0;
    height: 50px;
    font-size: 15px;
    font-style: italic;
    line-height: 1.2em;

    @include tablet {
        height: 35px;
        font-size: 10px;
    }
}

.img-container {
    position: relative;
}

.img-container img {
    display: block;
}

.img-container .fa-exclamation-triangle {
    position: absolute;
    color: color(yellow);
    background-color: color(red);
    border-radius: 3px;
    border: 4px solid color(red);
    top: 0px;
    right: 0px;

    @include tablet {
        font-size: 8px;
    }
}

// ******************************************************************** filtering the gallery  ******************************************************************** //


.filtered-inclusive .filter-item, .filtered-exclusive .filter-item, .filter-no-item { 
	display:none; 
} /* filtered-inclusive/filtered-exclusive class applied via js */

.filtered-inclusive .filter-item.selected, .filtered-exclusive .filter-item:not(.selected) { 
  display: block;
} /* filtered-inclusive/filtered-exclusive class applied via js */

.filter-no-item.filter-no-item-active { /* message stating no filter results */
	display:block; 
	width:100%; 
	background:color(off-white); 
    color: color(black); 
    font-size: 1rem;
	padding: 1rem; 
    margin:0.75%;
    border-radius:0.25rem; 

    @include tablet {
        font-size: 10px;
        //line-height: 10px;
    }
}


.filter-mask-active { /* cover each card (animation effect) */
    position:absolute; 
	top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: color(black);
    animation:filterMask 1s ease-in; 
}
 
@keyframes filterMask { 
	0% { opacity: 1 } 
	100% { opacity: 0 } 
}

.filter-no-item-active {
  animation:filterMaskNoItems 1s ease-in; 
}

@keyframes filterMaskNoItems { 
	0% { opacity: 0; } 
	100% { opacity: 1 }   /* covers briefly... a pulse */
}

// ******************************************************************** Gallery intro ************************************************************************ //

.gallery-intro {
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 0px 20px 0px 20px;
    color: color(white);

    @include tablet {
        font-size: 15px;
        margin-top: 50px;
    }
    @include mobile {
        margin-top: 10px;
    }
}  


// ******************************************************************** About.html ************************************************************************ //

.about-col {
    padding: 0;
    display: flex;
    flex-direction: column; /* there is a heading... */
}

%text-box-template {  /* SASS inheritance */
    background-color: color(off-white);
    box-shadow: 10px 14px 12px rgba(0, 0, 0, 1);
    border-radius: 30px;
    font-size: 20px;
    margin-top: 0;
    width: 90%;
    max-width: 1200px;

    @include tablet {
        font-size: 15px;
    }
    @include mobile {
        font-size: 14px;
        border-radius: 20px;
    }
}

.text-box {
    @extend %text-box-template;
    align-self: center; /* center about-box in viewport*/ 
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    padding: 30px; 

    @include tablet {
        padding: 20px;
    }
}

.text-box--species {
    @extend %text-box-template;
    flex: 1;
    padding: 30px;
}

.text-box--species-media {
    @extend %text-box-template;
    flex: 1;
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 40px;

    @include mobile {
        font-size: 14px;
        border-radius: 20px;
    }
}

.text-box--links {
    @extend %text-box-template;
    margin-bottom: 40px;
    align-self: center; /* center about-box in viewport*/ 
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    padding: 30px; 

    @include tablet {
        padding: 20px;
        margin-bottom: 20px;
    }
}


.site-link {
    color: color(green);
}

.site-link--species {
    color: color(green);
    font-style: italic;
}

.site-link:hover, .site-link--species:hover {
    color: color(green);
}

.about-box-bottom {
    margin-top: 20px;

    @include tablet {
        margin-top: 10px;
    }
}

.about-box p {
    margin-bottom: 0;
}

%header-template {
    color: color(white);
    letter-spacing: 3px;

    @include ipad {
        text-align: center;
    }
}

.header {
    @extend %header-template;
    text-align: center;
    margin-top: 60px;
    font-size: 35px;

    @include tablet {
        font-size: 26px;
        margin-top: 40px;
    }
    @include mobile {
        font-size: 17.5px;
        margin-top: 20px;
    }
}

.header--name {
    @extend %header-template;
    font-size: 35px;

    @include tablet {
        font-size: 26px;
    }
    @include mobile {
        font-size: 17.5px;
    }
}

.header--species {
    @extend %header-template;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    line-height: 1.5em;

    @include tablet {
        font-size: 30px;

    }
    @include mobile {
        font-size: 20px;
        
    }
}

.header--status, .header--danger {
    @extend %header-template;
    font-size: 25px;

    @include tablet {
        font-size: 19px;
    }
    @include mobile {
        font-size: 12.5px;
    }
}

.header--status {
    margin-top: 30px;

    @include mobile {
        margin-top: 15px;
    }
}

.about-header-credits {
    padding-top: 40px;

    @include tablet {
        padding-top: 20px;
    }
}


.table-text td {
    padding: 7px;
    
    @include tablet {
        padding: 5px;
    }

    @include mobile {
        padding: 2px;
    }
}

// ******************************************************************** book.html ************************************************************************ //

.text-box--book {
    display: flex;
    flex-wrap: wrap;
}

.book-img-container {
    text-align: center;
    margin-right: 20px;

    @include desktop {
        width: 100%;
        padding-bottom: 30px;
        margin-right: 0px;
    }
}

.book-img {
    width: 280px;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 7px 6px rgba(0,0,0,0.3);


    @include tablet {
        width: 200px;
    }
}

.book-text-1 {
    flex: 1;
}

// ******************************************************************** links.html ************************************************************************ //

th.table-header {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 5px; 
    font-size: 30px;

    @include tablet {
        font-size: 22.5px;
        padding-top: 25px;
 
    }
    @include mobile {
        font-size: 21px;
        padding-top: 15px;
    }
}

// ******************************************************************** species pages************************************************************************ //

.species-media {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.text-box-container {
    margin-left: 5%;
    margin-right: 5%;   
    display: flex;
    justify-content: center;
}

.text-box-container-info {
    margin-top: 10px; 

    @include tablet {
        margin-top: 5px;
    }
}

.species-info-box {
    display: flex;
    flex-wrap: wrap;

    @include tablet {
        flex-direction: column;
    }
}

.info-box-header {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    font-weight: 600;

    @include tablet {
        padding-top: 10px;
        padding-bottom: 0;
        padding-right: 0;
    }
}

.info-box-text {
    text-align: justify;
    flex: 4;
    padding: 10px 0px;
    @include tablet {
        padding: 0;
    }

}

.header-box {
    text-align: center;
}

// ************************************************* swiper gallery - school talks ************************************************ //

#header--school-talks {
    margin-top: 0;
    text-align: left;
    
    @include ipad {
        text-align: center;
    }
}

.school-talks-text-container {
    margin-top: 40px;
}

  