
/* ......................................... zoom hover effect - index gallery ............................................. */

.hover-top-left:hover {
    transform: $hover-zoom;
    object-position: -70% -40%;
}

.hover-center:hover {
    transform: $hover-zoom;
}

.hover-top:hover {
    transform: $hover-zoom;
    object-position: 50% -40%;
}

.hover-top-lg:hover {
    transform: $hover-zoom;
    object-position: 50% 7px;
}
  
.hover-top-right:hover {
    transform: $hover-zoom;
    object-position: 110% -40%;
}

.hover-top-right-lg:hover {
    transform: $hover-zoom;
    object-position: 130% 5px;
}

.hover-right:hover {
    transform: $hover-zoom;
    object-position: 110% 50%;
}

.hover-right-lg:hover {
    transform: $hover-zoom;
    object-position: 130% 50%;
}


.hover-bottom-right:hover {
    transform: $hover-zoom;
    object-position: 110% 120%;
}

.hover-bottom:hover {
    transform: $hover-zoom;
    object-position: 50% 120%;
}

.hover-bottom-left:hover {
    transform: $hover-zoom;
    object-position: -50% -40%;
}

.hover-left:hover {
    transform: $hover-zoom;
    object-position: -10% 50%;
}

.hover-left-sml:hover {
    transform: $hover-zoom;
    object-position: -10% 50%;
}
  

.gallery-image-text {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 5px;

    @include tablet {
        padding-top: 0px;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 3.5px;
    }
}
