<footer>
    <div class="footer-img-container">
        <a href="contact.html" aria-label="Contact the site creater">
            <video autoplay loop muted playsinline>
                <source src="images-footer/footer-logo_Chinese-astrology_animated.webm" type="video/webm"> <!-- quite new file format... smaller but not fully supported  -->
                <source src="images-footer/footer-logo_Chinese-astrology_animated.mp4" type="video/mp4">
            </video>
        </a>
    </div>
    <p>&copy;2020 Hans Breuer & William Christopher Murphy</p>
    <p>All images on this site are copyright of their respective owners and may only be used with their permission.</p>
    <p><a href="#" class="developer-link"  aria-label="Contact the site web developer">Site by Matthew Clarke.</a></p>
</footer>