<footer>
    <div class="footer-img-container">
        <a href="#" aria-label="聯繫網站創建者">
            <video autoplay loop muted playsinline>
                <source src="images-footer/footer-logo_Chinese-astrology_animated.webm" type="video/webm"> <!-- quite new file format... smaller but not fully supported  -->
                <source src="images-footer/footer-logo_Chinese-astrology_animated.mp4" type="video/mp4">
            </video>
        </a>
    </div>
    <p lang="en-US">&copy;2020 Hans Breuer & William Christopher Murphy</p>
    <p lang="en-US">All images on this site are copyright of their respective owners and may only be used with their permission.</p>
    <p><a href="#" class="developer-link" aria-label="與網站開發人員聯繫" lang="en-US">Site by Matthew Clarke.</a></p>
</footer>