<footer>
    <div class="footer-img-container">
        <a href="#"><img src="images-index/Animated-ChineseAstrology-SnakeANI-Mail.gif" alt="Chinese Astrology snake"></a>
    </div>
    <p>&copy; 2009-2010 Hans Breuer & William Christopher Murphy</p>
    <p>All images on this site are copyright of their respective owners and may only be used with their permission.</p>
</footer>