<nav class="navbar navbar-expand-lg">
    <div class="navbar-brand-container">
        <a class="navbar-brand" href="index.html"><img src="images-index/Snakes_of_Taiwan_homepage_final.png" alt="image of Chinese Green Tree Viper"></a>
    </div>
    <div class="navbar-items-container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span>&equiv;</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul id="navLinks" class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item nav-home">
                    <a class="nav-link" href="index.html"><i class="fas fa-home fa-2x"></i><br>Home</a>
                </li>
                <li class="nav-item nav-about">
                    <a class="nav-link" href="about.html"><i class="far fa-address-card fa-2x"></i><br>About</a>
                </li>
                <li class="nav-item nav-school-talks">
                    <a class="nav-link" href="school-talks.html"><i class="fas fa-chalkboard-teacher fa-2x"></i><br>School Talks</a>
                </li>
                <li class="nav-item nav-book">
                    <a class="nav-link" href="book.html"><i class="fas fa-book-reader fa-2x"></i><br>Book</a>
                </li>
                <li class="nav-item nav-links">
                    <a class="nav-link" href="links.html"><i class="fas fa-link fa-2x"></i><br>Links</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-language fa-2x"></i><br>English</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-language fa-2x"></i><br>Chinese</a>
                </li>
            </ul>
            <form id="nav-search-form" class="my-form form-inline my-2 my-lg-0">
                <div class="my-form-spacer"></div>
                {# <input id="searchInput" class="form-control mr-sm-2" type="input" placeholder="Search for a species"> #}
                <div class="search-input-container">
                    <input id="searchInput" type="search" placeholder="Search for a species" autocomplete="off" maxlength="50">
                    <ul id="searchUL"> 
                    {% for name in names %}
                        <li><a href="{{name.href}}">{{name.common}}<br><i>{{name.scientific}}</i></a></li>
                    {% endfor %}
                    </ul>
                </div>
                {# <button class="my-btn btn btn-secondary btn-lg my-2 my-sm-0" type="submit">Search</button> #}
            </form>        
        </div>
    </div>
</nav>