<nav>
    <div class="nav--items">
        <div class="logo">
            <a href="home_zh.html"><img src="images-nav/snakes-of-taiwan_logo.svg" alt="Snakes of Taiwan logo" class="website-logo"></a>
        </div>
        <ul id="navUl" class="nav-links">
            <li class="nav-home"><a href="home_zh.html" id="text-chinese">主頁</a></li>
            <li class="nav-about"><a href="about_zh.html" id="text-chinese">關於</a></li>
            <li class="nav-school-talks"><a href="school-talks_zh.html" id="text-chinese">學校講座</a></li>
            <li class="nav-book"><a href="#" id="text-chinese">書</a></li>
            <li class="nav-links-page"><a href="#" id="text-chinese">鏈接</a></li>
            <li><a href="home.html" lang="en-us">English</a></li>
        </ul> 
        <div class="burger">
            <button class="burger--container" tabindex="0">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </button>
        </div>
        <button id="search-btn" class="search-btn"><img src="images-nav/search.svg" alt="search button"></button>                      
        <button id="search-close" class="search-close"><img src="images-nav/close.svg" alt="close button"></button>
    </div>
    <div id="nav-search-form" class="search-input-container">
        <div class="search-input-spacer"></div>
        <input id="searchInput" name="searchInput" class="search-input" type="search" placeholder="" autocomplete="off" maxlength="50"  aria-label="物種搜尋" >
        <ul id="searchUL" class="search-ul"> 
            {% for name in names %}
                <li><a href="{{name.hrefChinese}}">{{name.chinese}}<br><i lang="en-us">{{name.scientific}}</i></a></li>
            {% endfor %}
        </ul>
    </div>
</nav>