<!-- Swiper Modal -->
<div id="simpleModal" class="modal">
    <div class="modal-content">
        <span id="modalClose" class="close-btn-modal" tabindex="0">&times;</span>
        <!-- Swiper modal -->
        <div id="swiper-container-modal" class="swiper-container-modal">
            <div class="swiper-wrapper">
                {%- for i in species[0].imgNum %} 
                <div class="swiper-slide swiper-slide-modal">
                    <div class="swiper-zoom-container">
                        <picture>
                            <source
                                type="image/webp"
                                data-srcset="
                                {%- set comma = joiner() -%}
                                {%- for j in species[0].breakpointsModal %}
                                {{ comma() -}} images-{{- species[0].speciesLowerCaseHyphenated -}}/{{- species[0].speciesUpperCaseHyphenated -}}-{{ i }}-{{ j }}px_modal.webp {{ j }}w
                                {%- endfor %}"
                                sizes="100vw">
                            <source
                                type="image/jpeg"
                                data-srcset="
                                {%- set comma = joiner() -%}
                                {%- for j in species[0].breakpointsModal %}
                                {{ comma() -}} images-{{- species[0].speciesLowerCaseHyphenated -}}/{{- species[0].speciesUpperCaseHyphenated -}}-{{ i }}-{{ j }}px_modal.jpg {{ j }}w
                                {%- endfor %}"
                                sizes="100vw">
                            <img class="swiper-lazy swiper-slide-img swiper-slide-img-modal" 
                                width="{{- species[0].maxWidthModal -}}"
                                height="{{- species[0].maxHeightModal -}}"                      
                                data-src="images-{{- species[0].speciesLowerCaseHyphenated -}}/{{- species[0].speciesUpperCaseHyphenated -}}-{{ i }}-{{ species[0].maxWidthModal }}px_modal.jpg"  
                                aria-label="{{- species[0].speciesAltAttributeName }} image {{ i }} - modal">
                        </picture>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>   
                </div>
                {%- endfor %}
            </div>
        </div>
        <!-- Add Pagination -->
        <div id="swiper-pagination-modal" class="swiper-pagination"></div>
        <!-- Add Pagination -->
        <div id="swiper-button-next-modal" class="swiper-button-next"></div>
        <div id="swiper-button-prev-modal" class="swiper-button-prev"></div>
    </div>
</div>
                