{% set body_class, translation_link = "about" %}


{% extends "_layout_zh.njk" %} 
{% block hrefLanguage %}
     <link rel="alternate" hreflang="zh-TW" href="https://snakes-of-taiwan-test.netlify.app/about_zh.html" />
     <link rel="alternate" hreflang="zh" href="https://snakes-of-taiwan-test.netlify.app/about_zh.html" />
         <link rel="alternate" hreflang="en-US" href="https://snakes-of-taiwan-test.netlify.app/about.html" />
         <link rel="alternate" hreflang="en" href="https://snakes-of-taiwan-test.netlify.app/about.html" />
{% endblock %}
{% block metaDescription %}
    "snakesoftaiwan.com 提供了完整的台灣蛇類訊息。在我們建立這個網站之前，只有一些前人探勘所留下的資料可供參考，而且很多都已經是過時的資訊。"
{% endblock %}
{% block headLinks %}    
    <link rel="stylesheet" href="css/infoPages.min.css">
{% endblock %}
{% block csp %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; script-src 'self' https://www.google-analytics.com https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.6/purify.min.js; media-src 'self'; connect-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; style-src 'self'">
{% endblock %}
{% block title %}
    關於這個網站
{% endblock %}
{% block content %}

    <div class="about-col">
        <h1 class="header">關於這個網站</h1>
        <div class="text-box">
            <div class="info-box-paragraph">
                <p>
                    <span lang="en-US">snakesoftaiwan.com</span> 提供了完整的台灣蛇類訊息。在我們建立這個網站之前，只有一些前人探勘所留下的資料可供參考，而且很多都已經是過時的資訊。另外本站還設立了英文頁面，希望將來不管在英文或是中文上都可以為大家提供最新的資訊。
                </p>
                <p>
                    本站的架構分類跟一般以筆劃或是拼音的索引不同，您可在 <a class="site-link" href="home_zh.html">主選單</a> 看到我們是以各種蛇類的花紋與顏色來排列順序，可使您更快速的尋找所需要台灣蛇種資訊。
                </p>
            </div>
            <p>
                本網站作者只是兩個癡迷於蛇類的業餘愛好者，並非專業的爬蟲學家。如果您有在文章中發現任何錯誤的資訊、連結甚至是錯字，歡迎您 <a class="site-link" href="contact_zh.html">聯絡我們</a> 來進行更新與改正!
            </p>
        </div>
    </div>

    <div class="about-col">
        <h1 class="header about-header-credits">製作群</h1>
        <div class="text-box">
            <p> 
                在此我們要感謝下列朋友們的慷慨相助，要是沒有他們的資訊和圖片提供，我想這個網站永遠不會有見光的一天：
            </p>
            <div class="my-list1">
                <div class="my-list1--flex-container">
                    <ul class="my-list1--flex-container-item">
                        <li>向高世<span lang="en-US">(Hsiang Gao-shih)</span></li>
                        <li>梁彧禎</li>
                        <li>汪仁傑</li>                                                        
                        <li>游崇瑋 <span lang="en-US">(Chungweiyou)</span></li>                
                        <li>蜥蜴</li>                       
                        <li>奎志明</li>                
                        <li>鍾承翰 <span lang="en-US">(Hank Chung)</span></li>               
                        <li>蔡添順 <span lang="en-US">(Tein-Shun Tsai)</span></li>
                    </ul>
                    <ul class="my-list1--flex-container-item">
                        <li>林家蔚</li>
                        <li lang="en-US">Tim Borski</li>   
                        <li lang="en-US">Bill Love</li>
                        <li lang="en-US">Kevin Messenger</li>
                        <li lang="en-US">Gary Nafis</li>
                        <li lang="en-US">Gerrut Norval</li>
                        <li lang="en-US">Sabrina (badpythons.de)</li>   
                        <li lang="en-US">Sina Zacharys</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="about-col">
        <div class="text-box about-box-bottom">
            <p>  
                我們特別感謝花了大量的時間將這些深澳的東西翻成中文的譯者： 周信甫
            </p>
        </div>
    </div>


{% endblock %}