{% set body_class = "about" %}
{% extends "_layout.njk" %} 
{% block hrefLanguage %}
     <link rel="alternate" hreflang="en-US" href="about.html" />
     <link rel="alternate" hreflang="en" href="about.html" />
     <link rel="alternate" hreflang="zh-TW" href="about_zh.html" />
     <link rel="alternate" hreflang="zh" href="about_zh.html" />
{% endblock %}
{% block metaDescription %}
    "Snakesoftaiwan.com was conceived out of the need for a complete, 
    comprehensive and informative one-stop web site on the snakes of Taiwan. 
    Before we created this site, the only comparable resources were a number 
    of field guides in Chinese, most of them outdated. Similar material in 
    English did not exist at all. With this site we hope to provide exhaustive 
    and current knowledge about Taiwan's snakes in both languages. This site is 
    organized like a field guide"
{% endblock %}
{% block csp %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; script-src 'self' https://www.google-analytics.com; media-src 'self'; connect-src https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; style-src 'self'">
{% endblock %}
{% block title %}
    About this site & credits
{% endblock %}
{% block content %}

    <div class="about-col">
        <h1 class="header">ABOUT THIS SITE</h1>
        <div class="text-box">
            <p>
                Snakesoftaiwan.com was conceived out of the need for a complete, comprehensive and informative one-stop web site on the snakes of Taiwan. Before we created this site, the only comparable resources were a number of field guides in Chinese, most of them outdated. Similar material in English did not exist at all. With this site we hope to provide exhaustive and current knowledge about Taiwan's snakes in both languages.
            </p>
            <p>
                This site is organized like a field guide, i.e., all species on the <a class="site-link" href="home.html">home page</a> are arranged by colors and patterns rather than in alphabetical order. This facilitates quick identification of any snakes one might encounter in the wilds of Taiwan. 
            </p>
            <p>
                The authors of this site are not professional herpetologists; just two average guys with a strong infatuation for Taiwan's serpentofauna. We have done extensive research on the known snake species of Taiwan - perusing both the academic literature and the local habitats of the snakes themselves - and now present the information on this site to the best of our knowledge and abilities. If you spot any mistakes, errors, blunders, bloopers, typos, or maybe just have a comment or two, we would love to hear from you - please <a class="site-link" href="contact.html">drop us a note</a>!
            </p>
        </div>
    </div>

    <div class="about-col">
        <h1 class="header about-header-credits">CREDITS</h1>
        <div class="text-box">
            <p> 
                We would like to express our utmost gratitude to the following friends and collaborators without whose kind generosity and invaluable help this site would  never have seen the light of day: 
            </p>
            <div class="my-list1">
                <div class="my-list1--flex-container">
                    <ul class="my-list1--flex-container-item">
                        <li><span lang="zh-TW" id="text-chinese">向高世</span>(Hsiang Gao-shih)</li>
                        <li><span lang="zh-TW" id="text-chinese">梁彧禎</span></li>
                        <li lang="zh-TW" id="text-chinese">汪仁傑</li>                                                        
                        <li><span lang="zh-TW" id="text-chinese">游崇瑋 </span>(Chungweiyou)</li>                
                        <li lang="zh-TW" id="text-chinese">蜥蜴</li>                       
                        <li lang="zh-TW" id="text-chinese">奎志明</li>                
                        <li><span lang="zh-TW" id="text-chinese">鍾承翰 </span>(Hank Chung)</li>               
                        <li><span lang="zh-TW" id="text-chinese">蔡添順 </span>(Tein-Shun Tsai)</li>
                    </ul>
                    <ul class="my-list1--flex-container-item">
                        <li lang="zh-TW" id="text-chinese">林家蔚</li>
                        <li>Tim Borski</li>   
                        <li>Bill Love</li>
                        <li>Kevin Messenger</li>
                        <li>Gary Nafis</li>
                        <li>Gerrut Norval</li>
                        <li>Sabrina (badpythons.de)</li>   
                        <li>Sina Zacharys</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="about-col">
        <div class="text-box about-box-bottom">
            <p>  
                Our special gratitude goes to our translator, Mr. Chou Hsin-fu (<span lang="zh-TW" id="text-chinese">周信甫</span>), who spent a great deal of his free time deciphering this abstruse stuff and transposing it into elegant Mandarin Chinese.
            </p>
        </div>
    </div>


{% endblock %}