{% extends "_layout.njk" %} 
{% block hrefLanguage %}
     <link rel="alternate" hreflang="en-US" href="#" />
     <link rel="alternate" hreflang="en" href="#" />
     <link rel="alternate" hreflang="zh-TW" href="#" />
     <link rel="alternate" hreflang="zh" href="#" />
{% endblock %}
{% block metaDescription %}
    "Contact us information about the book, the school education program or any other enquiries."
{% endblock %}
{% block title %}
    Contact
{% endblock %}
{% block content %}

    <div class="header-box">
        <h1  class="header">CONTACT</h1>
    </div> 

    <form id="form" action="https://formspree.io/xknqrybo" method="POST" class="form-contact" novalidate>
        <div class="form-group">
            <label for="formName" class="contact-label">Name</label>
            <input id="formName" name="name" class="form-input" type="text" autofocus maxlength="50" required>
            <small>Error message</small>
        </div>
        <div class="form-group">
            <label for="formEmail" class="contact-label">Email</label>
            <input id="formEmail" name="_replyto" class="form-input" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" maxlength="50" required>   
            <small>Error message</small>
        </div>
        <div class="form-group">
            <label for="formUserMessage" class="contact-label">Message</label>
            <textarea id="formUserMessage" name="message" class="form-input" maxlength="5000" required></textarea>
            <small>Error message</small>
        </div>

        <button class="contact-btn" type="submit" value="Send">Submit</button>
    </form>

    <script>
        const contactForm = document.getElementById('form');
        const name = document.getElementById('formName');
        const email = document.getElementById('formEmail');
        const userMessage = document.getElementById('formUserMessage');

        contactForm.addEventListener('submit', (e) => {         
            e.preventDefault();
            checkInputs();        
       });

       function checkInputs() {
            //get values
            const nameValue = name.value.trim();
            const emailValue = email.value.trim();
            const userMessageValue = userMessage.value.trim();

            if (nameValue === '') {
                // show error
                // add error class
                setErrorFor(name, 'Please add your name');
            } else {
                // add success class
                setSuccessFor(name);
            }

            if (emailValue === '') {
                setErrorFor(email, 'Please add your email');
            } else if (!isEmail(emailValue)) {
                setErrorFor(email, 'Please add a valid email address');
            } else {
                setSuccessFor(email);
            }

            if (userMessageValue === '') {
                // show error
                // add error class
                setErrorFor(userMessage, 'Please add a message');
            } else if (userMessageValue.length > 5000) {
                setErrorFor(userMessage, 'Max length = 5000 characters')
            } else {
                // add success class
                setSuccessFor(userMessage);
            }

            // submit form if no errors
            if  ( !(nameValue === '') && !(emailValue === '') && (isEmail(emailValue)) && !(userMessageValue === '') && !(userMessageValue.length > 5000) )  {
                 contactForm.submit();           
            }
        }

        function setErrorFor(input, message) {
            const formGroup = input.parentElement; 
            const small = formGroup.querySelector('small');

            // add error message inside small
            small.innerText = message;

            // add error class
            formGroup.className = 'form-group error';
        }

        function setSuccessFor(input) {
            const formGroup = input.parentElement;
            formGroup.className = 'form-group success';
        }

        function isEmail(email) {
            return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
        }
	
    </script>

{% endblock %}