{% extends "_layout.njk" %} 
{% block hrefLanguage %}
     <link rel="alternate" hreflang="en-US" href="contact.html" />
     <link rel="alternate" hreflang="en" href="contact.html" />
     <link rel="alternate" hreflang="zh-TW" href="contact_zh.html" />
     <link rel="alternate" hreflang="zh" href="contact_zh.html" />
{% endblock %}
{% block metaDescription %}
    "Contact us - information about the book, the school education program or any other enquiries."
{% endblock %}
{% block title %}
    Contact
{% endblock %}
{% block content %}

    <div class="header-box">
        <h1  class="header">CONTACT</h1>
    </div> 

    <form id="form" action="https://formspree.io/xknqrybo" method="POST" class="form-contact" novalidate>
        <div class="form-group">
            <label for="formName" class="contact-label">Name</label>
            <input id="formName" name="name" class="form-input" type="text" autofocus maxlength="50" required>
            <small>Error message</small>
        </div>
        <div class="form-group">
            <label for="formEmail" class="contact-label">Email</label>
            <input id="formEmail" name="_replyto" class="form-input" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" maxlength="50" required>   
            <small>Error message</small>
        </div>
        <div class="form-group">
            <label for="formUserMessage" class="contact-label">Message</label>
            <textarea id="formUserMessage" name="message" class="form-input" maxlength="5000" required></textarea>
            <small>Error message</small>
        </div>

        <button class="contact-btn" type="submit" value="Send">Submit</button>
    </form>

    <script src="js/contact.js"></script>

{% endblock %}