{% set species = deinagkistrodonAcutusRespImgs %}
{% set translation_link = species[0].nameLowerCaseHyphenated  %}

{% extends "_layout_zh.njk" %} 
{% block hrefLanguage %}
         <link rel="alternate" hreflang="en-US" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}.html" />
         <link rel="alternate" hreflang="en" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}.html" />
     <link rel="alternate" hreflang="zh-TW" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}_zh.html" />
     <link rel="alternate" hreflang="zh" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}_zh.html" />
{% endblock %}
{% block metaDescription %}
    "{{ species[0].chineseName }} {{ species[0].chineseNameRomanized }}. {{ species[0].danger }}, 最大體長: 150 cm, 台灣中部以南，海拔500-1500公尺，罕見。在亞洲，百步蛇是最容易辨認出的 蝮亞科 蛇類。對於大部分台灣人來說，百步蛇已經是非常難以見到的罕見台灣蛇類。牠特別的三角形圖案對台灣原住民部落有著非常深遠的影響，尤其是對排灣族與魯凱族來說。"
{% endblock %}
{% block headLinks %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/swiperJsGallery.min.css">       
    <link rel="stylesheet" href="css/infoPages.min.css">
{% endblock %}
{% block csp %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; script-src 'self' https://www.google-analytics.com https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.6/purify.min.js https://unpkg.com/swiper/swiper-bundle.min.js; media-src 'self'; connect-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; style-src 'self' https://unpkg.com/swiper/swiper-bundle.min.css; font-src 'self' data: application/font-woff">
{% endblock %}
{% block title %}
    {{ species[0].name }} - {{ species[0].chineseName }}
{% endblock %}

{% block content %}
    
    <div class="header-box">
        <h1 class="header--species" lang="en-US">{{ species[0].name }}</h1>
        <h2 class="header--name" lang="en-US">{{ species[0].commonName }}</h2>
        <h2 class="header--name">{{ species[0].chineseName }}</h2>
        <h3 class="header--status">{{ species[0].statusChinese }}</h3>
        <h4 class="header--danger">{{ species[0].dangerChinese }}</h4>
    </div>                      

    {% include "partials/_swiper-responsive-images-modal_zh.njk" %}
    {% include "partials/_swiper-responsive-images-nonModal_zh.njk" %}
    {% include "partials/_swiper-responsive-images-thumbs_zh.njk" %}

    <div class="text-box-container">
        <div class="text-box--species-media">
            <div class="species-info-box">
                <div class="info-box-header">          
                    相關影片
                </div>
                <div class="info-box-text">
                    <ul class="my-list2 info-box-text my-list-1--species">
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.youtube.com/watch?v=h25fHMIeMVo">百步蛇</a></li>
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.youtube.com/watch?v=Q3EW0Lvgiyo">百步蛇進食(1)</a></li>
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.youtube.com/watch?v=YxWMOMBdPQs">百步蛇進食(2)</a></li>
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.wretch.cc/video/emtcp808&func=single&vid=5863399">百步蛇傳說</a> 這是一部有相當的文化重要性的紀錄片，內容主要敘述百歨蛇與魯凱族之間的淵源，它也為魯凱族贏得了三個重要的獎項。</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="text-box-container text-box-container-info">
        <div class="text-box--species">
            <div class="species-info-box">
                <div class="info-box-header">          
                    家族
                </div>
                <div class="info-box-text">
                    奎蛇科 ; 蝮亞科 (蝮蛇) 
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    最大體長
                </div>
                <div class="info-box-text" lang="en-US">
                    150 cm
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    台灣棲地分布
                </div>
                <div class="info-box-text">
                    台灣中部以南，海拔500-1500公尺，罕見。
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    世界棲地分布
                </div>
                <div class="info-box-text">
                    南中國（安徽，廣東，廣西，雲南，江西，湖南，湖北，浙江，福建，貴州，四川），台灣，北越南，寮國。
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    外觀描述
                </div>
                <div class="info-box-text" lang="en-US">
                    <div class="info-box-paragraph">
                        中型蛇類，最大體長大約150cm。體鱗大約17-23(通常是21)列，鱗片具有強烈的稜脊。體型粗壯，稍扁，短而肥胖的身體有著短小的尾部；頸部較細，頭部寬且呈現明顯的三角形。吻端急速變的細小且向上翹起，這也是百歨蛇又被稱為尖吻蝮的原因。眼睛中型且位置較靠近頭頂，虹膜窄而垂直，成黑色。
                    </div>
                    <div class="info-box-paragraph">
                        體色淺棕或是褐色，頭部為一致的黑褐色或是巧克力色。靠近吻端之鱗片大型且對稱，後半部呈小疣狀並有強烈的稜脊。舌頭粉紅中雜帶些許灰色；在其上頜肉質鞘內有一對可摺疊收起的大型毒牙。頭部兩側各有兩條深褐色條紋從吻端到眼睛延伸至頸部，而其頭部下方則為奶油色或亮黃色雜帶一些灰色斑點。
                    </div>
                    身體與尾巴色彩多樣，也許是深淺不一的暗灰、棕色或巧克力色，身體兩側佈有約19-22個大型黑色三角形斑塊，兩側的三角形頂端通常在脊椎部位相結合，三角形裡面為鮭魚色或亮銅色。腹部前端為白色並雜有黑色斑點，腹下則為白色或淺的奶油色，在腹側的交接處交錯著不規則的黑色斑塊，直到尾部下方通常只變成一條黑線，肛鱗與尾下鱗皆為成對。 
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    生態描述
                </div>
                <div class="info-box-text"> 	
                    <div class="info-box-paragraph">
                        在亞洲，百步蛇是最容易辨認出的 <a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://en.wikipedia.org/wiki/Pitviper">蝮亞科</a> 蛇類。對於大部分台灣人來說，百步蛇已經是非常難以見到的罕見台灣蛇類。牠特別的三角形圖案對台灣原住民部落有著非常深遠的影響，尤其是對排灣族與魯凱族來說 - 百歨蛇已經是他們所信仰的部落圖騰之一。 "<i>傳說中，太陽神來到人世間的大武山山頂上，並且在古陶壺中產下四個蛋，然後請大青蛇以及百步蛇保護他們。不久之後，太陽直射入家中陶壺，其中大青蛇孵出一對男女，即平民的祖先；另外兩顆被由百步蛇孵出一對男女, 而這對男女就是貴族的祖先。</i>" (<a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="https://www.bowers.org/index.php/collection/collection-blog/viper-vessels-of-taiwan-s-paiwan" lang="en-US">Source</a>)
                    </div>

                    <div class="info-box-paragraph">
                        百步蛇棲息在山區林木底層，通常在黃昏與夜間出來行動。牠以青蛙、蟾蜍、蜥蜴、鳥類與鼠纇為食。大部分在3-11月之間交配，母蛇在6-8月的時候產下一窩11-35枚的卵，並且有護卵行為。幼蛇約需要3-4週的時間來孵化，剛出生的幼蛇全長約21cm左右。當他們不安或警戒時，會原地盤捲身軀並將頭部揚起保持最佳攻擊姿態，但是不會輕易的發動攻擊。而他最活躍的時間，是在雨季中或是雨季剛過的時期。
                    </div>
                    雖然牠的身長最多只達150cm，但是隨著年齡的增長，他的身軀會變的越來越粗狀、結實。最後會跟蟛奎毒蛇有著類似的體態。雖然百步蛇的出血毒毒性單位不強，但是牠龐大的出毒量，仍然使牠成為台灣高危險的毒蛇之一。當然，人們往往會誇大危險生物的危險性。百步蛇的"百步"，意指當人被蛇遮咬後，差不多走一百步的時間就會毒發身亡。在某些更懼怕、仇視毒蛇地方，甚至稱呼牠為五步蛇 - 遮咬後五步倒地身亡。雖然這種蛇很危險，但是被其遮咬致死率並不高。台灣已有這種毒蛇的抗毒血清。(<a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://en.wikipedia.org/wiki/Deinagkistrodon" lang="en-US">Wikipedia</a>)
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    學名與俗名
                </div>
                <div class="info-box-text">
                    <div class="info-box-paragraph">
                        <span lang="en-US"><i>Deinagkistrodon</i></span>: <span lang="en-US"><i>dein</i></span> 是衍伸希臘語'<span lang="en-US">deinos</span>'，意思是"可怕的"。當人們談到牠的時候，就會因為它的分布範圍廣大無孔不在 <i>(1)</i> 而感到恐懼與敬畏; <span lang="en-US"><i>agkistrodon</i></span> 是希臘語"<span lang="en-US"><i>agkistron</i></span>",意思是 "<span lang="en-US">fishhook</span>"(魚鉤), 和"<span lang="en-US">odon</span>","<span lang="en-US">odon</span>"有牙齒的意思，意指毒蛇彎曲的毒牙。 
                    </div>
                    <div class="info-box-paragraph">
                        <span lang="en-US"><i>Acutus</i></span> 意思是"<span lang="en-US">sharp, pointed</span>"(形狀、指出), 很明顯的是針對此類毒蛇的吻端。 mean
                    </div>
                    俗名:百步蛇、五步蛇、百花蛇、蝮蛇、山古鼈。
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    附註
                </div>
                <div class="info-box-text">
                    <span lang="en-US">(1): Snakes of the Agkistrodon Complex, A Monographic Review; Howard K. Gloyd and Roger Connant. SSAR. 1990. Page 388</span>.        
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    相關連結
                </div>
                <ul class="my-list2 info-box-text my-list-1--species">
                    <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.e-tribe.org.tw/kungdavane/DesktopDefault.aspx?tabId=103">魯凱族與百步蛇</a></li>
                    <li lang="en-US"><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://reptile-database.reptarium.cz/species.php?genus=Deinagkistrodon&species=acutus">Reptile Database</a></li>
                    <li lang="en-US"><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://en.wikipedia.org/wiki/Deinagkistrodon">Wikipedia</a></li>
                </ul>
            </div>

            <div class="translator-name">翻譯:周信甫</div>

        </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script   src="js/mySwiper.min.js"></script>

{% endblock %}