{% set species = hebiusSpRespImgs %}
{% set translation_link = species[0].nameLowerCaseHyphenated  %}

{% extends "_layout_zh.njk" %} 
{% block hrefLanguage %}
         <link rel="alternate" hreflang="en-US" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}.html" />
         <link rel="alternate" hreflang="en" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}.html" />
     <link rel="alternate" hreflang="zh-TW" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}_zh.html" />
     <link rel="alternate" hreflang="zh" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}_zh.html" />
{% endblock %}
{% block metaDescription %}
    "{{ species[0].chineseName }} {{ species[0].chineseNameRomanized }}. {{ species[0].danger }}, 最大體長: 89 cm, 這是一個最近才被發現的物種，牠有兩個可能的種名還在等待更近一步的研究確認中。目前唯一的紀錄是在南部一些海拔位於500 - 1300 公尺的零星區域。就像大部分 水游蛇亞科 的成員，排灣腹鏈蛇(日夜間皆可能出沒)可以在接近溪流、池塘或是溼地等地區找到其蹤影，這些地方有較多的青蛙與蜥蜴可以供給牠的生存。"
{% endblock %}
{% block headLinks %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/swiperJsGallery.min.css">       
    <link rel="stylesheet" href="css/infoPages.min.css">
{% endblock %}
{% block csp %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; script-src 'self' https://www.google-analytics.com https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.6/purify.min.js https://unpkg.com/swiper/swiper-bundle.min.js; media-src 'self'; connect-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; style-src 'self' https://unpkg.com/swiper/swiper-bundle.min.css; font-src 'self' data: application/font-woff">
{% endblock %}
{% block title %}
    {{ species[0].name }} - {{ species[0].chineseName }}
{% endblock %}

{% block content %}
    
    <div class="header-box">
        <h1 class="header--species" lang="en-US">{{ species[0].name }}</h1>
        <h2 class="header--name" lang="en-US">{{ species[0].commonName }}</h2>
        <h2 class="header--name">{{ species[0].chineseName }}</h2>
        <h3 class="header--status">{{ species[0].statusChinese }}</h3>
        <h4 class="header--danger">{{ species[0].dangerChinese }}</h4>
    </div>                      

    {% include "partials/_swiper-responsive-images-modal_zh.njk" %}
    {% include "partials/_swiper-responsive-images-nonModal_zh.njk" %}
    {% include "partials/_swiper-responsive-images-thumbs_zh.njk" %}

    <div class="text-box-container text-box-container-info">
        <div class="text-box--species" style="margin: 0 auto;">
            <div class="species-info-box">
                <div>
                    <div class="info-box-paragraph">
                        這是一個最近才被發現的物種，牠有兩個可能的種名還在等待更近一步的研究確認中。 
                    </div>   
                    <div class="info-box-paragraph">
                        第一本介紹這個物種給予大眾最新資訊的的書籍:
                    </div>  
                    <div class="info-box-paragraph">
                        <a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="https://www.kingstone.com.tw/basic/2013880034421/">台灣兩棲爬行類圖鑑, 2009, <span lang="en-US">by</span> 向高世, 李鵬翔 <span lang="en-US">&</span> 楊懿如</a>
                    </div>  
                    以下所有資訊皆來自這本好書。 
                </div>
            </div>
        </div>
    </div>

    <div class="text-box-container">
        <div class="text-box--species-media">
            <div class="species-info-box">
                <div class="info-box-header">          
                    相關影片
                </div>
                <div class="info-box-text">
                    <ul class="my-list2 info-box-text my-list-1--species">
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://blog.sina.com.tw/d100vs/article.php?pbgid=30839&entryid=594235"> 野生的排灣腹鏈蛇</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="text-box-container text-box-container-info">
        <div class="text-box--species">
            <div class="species-info-box">
                <div class="info-box-header">          
                    家族
                </div>
                <div class="info-box-text">
                    黃頜蛇科，<a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://en.wikipedia.org/wiki/Natricinae">水游蛇亞科</a>
                    <br>
                    <span lang="en-US">Colubridae, subfamily <a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://en.wikipedia.org/wiki/Natricinae">Natricinae</a></span>
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    最大體長
                </div>
                <div class="info-box-text" lang="en-US">
                    89 cm
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    台灣棲地分布
                </div>
                <div class="info-box-text">
                    目前唯一的紀錄是在南部一些海拔位於500 - 1300 公尺的零星區域。
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    世界棲地分布
                </div>
                <div class="info-box-text">
                    台灣特有種
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    外觀描述
                </div>
                <div class="info-box-text" lang="en-US">
                    With a total length up to 89 cm, this medium-sized snake is the largest of the known keelback species in Taiwan. The background color of the body is grey to olive, while the head is medium brown. There are 19 rows of dorsal scales. The front third of the body bears incomplete yellow stripes; including a conspicuous "V"-shaped stripe on the nape of the neck. The ventral scales are bright yellow. 
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    生態描述
                </div>
                <div class="info-box-text"> 	
                    就像大部分 水游蛇亞科 的成員，排灣腹鏈蛇(日夜間皆可能出沒)可以在接近溪流、池塘或是溼地等地區找到其蹤影，這些地方有較多的青蛙與蜥蜴可以供給牠的生存。當走進牠的警戒範圍時會有激烈的防衛反應。母蛇體型明顯大於公蛇。目前觀察幼蛇約會在5 - 6 月間出沒，進而推測交配季節可能是在春天。 
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    學名與俗名
                </div>
                <div class="info-box-text">
                    <div class="info-box-paragraph">
                        <span lang="en-US"><i>Hebius</i></span>: 源自日語單詞 “<span lang="en-US">Hebi</span>”，意為“蛇”。
                        中英文的通用名稱皆是"<span lang="en-US">Paiwan Keelback</span>/排灣腹鏈蛇 (<span lang="en-US"><i>pai2wan1fu4lian4she2</i></span>)"，這是根據發現地就在排灣族部落附近而命名的。
                    </div>
                    sp.: 本種目前正在研究中，並沒有適當的種名可以命名。
                </div>
            </div>

            <div class="translator-name">翻譯:周信甫</div>

        </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script   src="js/mySwiper.min.js"></script>

{% endblock %}