<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    <title>Snakes of Taiwan</title>

</head>
<body>
    <div class="index-container">
        <div class="index-contaner--content">
            <img src="images-index/snakes-of-taiwan_index.jpg" width="685" height="658">
            <div><a href="home.html">English</a></div>
            <div lang="zh-tw"><a href="#">中文</a>
        </div>
    </div>
</body>
</html>