<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    <title>Snakes of Taiwan</title>

</head>
<body>
    <div class="index-container">
        <div class="index-contaner--content">

            <picture>
                <source
                    type="image/webp"
                    srcset="
                    images-index/snakes-of-taiwan_index-375px.webp 375w,
                    images-index/snakes-of-taiwan_index-500px.webp 500w"
                    sizes="(max-width: 812px) 80vw, 500px">
                <source
                    type="image/jpeg"
                    srcset="
                    images-index/snakes-of-taiwan_index-375px.jpg 375w,
                    images-index/snakes-of-taiwan_index-500px.jpg 500w"
                    sizes="(max-width: 812px) 80vw, 500px">
        
                <img src="images-index/snakes-of-taiwan_index.jpg" 
                     alt="Snakes of Taiwan index image"
                     width="500" height="480.29">
            </picture>

            <div><a href="home.html">English</a></div>
            <div lang="zh-tw"><a href="#">中文</a>

        </div>
    </div>
</body>
</html>