{% set species = indotyphlopsBraminusRespImgs %}
{% set translation_link = species[0].nameLowerCaseHyphenated  %}

{% extends "_layout_zh.njk" %} 
{% block hrefLanguage %}
         <link rel="alternate" hreflang="en-US" href="https://snakes-of-taiwan-test.netlify.app/{{- species[0].nameLowerCaseHyphenated -}}.html" />
         <link rel="alternate" hreflang="en" href="https://snakes-of-taiwan-test.netlify.app/{{- species[0].nameLowerCaseHyphenated -}}.html" />
     <link rel="alternate" hreflang="zh-TW" href="https://snakes-of-taiwan-test.netlify.app/{{- species[0].nameLowerCaseHyphenated -}}_zh.html" />
     <link rel="alternate" hreflang="zh" href="https://snakes-of-taiwan-test.netlify.app/{{- species[0].nameLowerCaseHyphenated -}}_zh.html" />
{% endblock %}
{% block metaDescription %}
    ""
{% endblock %}
{% block headLinks %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/swiperJsGallery.min.css">       
    <link rel="stylesheet" href="css/infoPages.min.css">
{% endblock %}
{% block csp %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; script-src 'self' https://www.google-analytics.com https://unpkg.com/swiper/swiper-bundle.min.js; media-src 'self'; connect-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; style-src 'self' https://unpkg.com/swiper/swiper-bundle.min.css; font-src 'self' data: application/font-woff">
{% endblock %}
{% block title %}
    {{ species[0].name }} - {{ species[0].chineseName }}
{% endblock %}

{% block content %}
    
    <div class="header-box">
        <h1 class="header--species" lang="en-US">{{ species[0].name }}</h1>
        <h2 class="header--name" lang="en-US">{{ species[0].commonName }}</h2>
        <h2 class="header--name">{{ species[0].chineseName }}</h2>
        <h3 class="header--status">{{ species[0].statusChinese }}</h3>
        <h4 class="header--danger">{{ species[0].dangerChinese }}</h4>
    </div>                      

    {% include "partials/_swiper-responsive-images-modal_zh.njk" %}
    {% include "partials/_swiper-responsive-images-nonModal_zh.njk" %}
    {% include "partials/_swiper-responsive-images-thumbs_zh.njk" %}

    <div class="text-box-container">
        <div class="text-box--species-media">
            <div class="species-info-box">
                <div class="info-box-header">          
                    相關影片
                </div>
                <div class="info-box-text">
                    <ul class="my-list2 info-box-text my-list-1--species">
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.youtube.com/watch?v=lV6G0iQstn0">佛羅里達的盲蛇</a></li>
                    </ul>
                </div>
            </div>
            <div class="species-info-box">
                <div class="info-box-header">          
                    更多美圖
                </div>
                <div class="info-box-text">
                    <ul class="my-list2 info-box-text my-list-1--species">
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://blog.sina.com.tw/d100vs/article.php?pbgid=30839&entryid=341182">盲蛇，台灣最小的蛇 - 轉自 自然生活記趣</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="text-box-container text-box-container-info">
        <div class="text-box--species">
            <div class="species-info-box">
                <div class="info-box-header">          
                    家族
                </div>
                <div class="info-box-text">
                    <a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://en.wikipedia.org/wiki/Typhlopidae">盲蛇科</a>
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    最大體長
                </div>
                <div class="info-box-text" lang="en-US">
                    18 cm
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    台灣棲地分布
                </div>
                <div class="info-box-text">
                    台灣全島及沿海島嶼，低於海拔500公尺處。
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    世界棲地分布
                </div>
                <div class="info-box-text">
                    遍佈全球； 沙烏地阿拉伯，阿曼蘇丹國，埃及，利比亞，科威特，尚西巴，坦桑尼亞，莫三比克，索馬利亞，喀麥隆，貝南共和國，多哥，象牙海岸，塞內加爾共和國，茅利塔尼亞，加彭，中非共和國，馬達加斯加， 葛摩聯邦（馬約特，莫埃利，安如)，諾西貝，馬斯克林群島，賽席爾，模里西斯，羅德里哥島，越南，寮國，泰國，緬甸，柬埔寨，馬來西亞（雕門島，柔佛州：詩巫島），印尼 （蘇拉維西，科摩多島），所羅門群島，中國南部（海南，廣東，廣西，福建，貴州，湖南，湖北，江西，四川，雲南，５ｋ浙江），台灣，日本（琉球群島，包括釣魚台），印度（馬哈啦詩特拉邦， 阿魯納洽爾邦），安達曼群島，尼可巴群島，斯里蘭卡，巴基斯坦，尼泊爾，菲律賓（巴拉望島： 卡拉棉群島，班耐島，呂宋...等），新幾內亞，諾魯，澳大利亞 （科克群島，CKI，北領地國家公園），新克里多尼亞，日本，墨西哥（外來種），瓜地馬拉（外來種），貝里斯，美國（佛羅里達及夏威夷之外來種），東印度群島，開曼群島，聖馬丁島，聖巴特島。
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    外觀描述
                </div>
                <div class="info-box-text" lang="en-US">
                    Very small snake; total length up to about 18 cm. It has no large ventral shields; there are 20 rows of smooth, shiny, and similarly sized scales all around body. Head is short and indistinct; body is moderately long; tail is quite short and ends in a spine. Eye is minute, poorly developed, appears as black pigmented spot on upper head, covered by head scales. Tongue is dirty white, almost colorless. Whole body is nearly uniform in color, brown to black dorsally but somewhat lighter ventrally, and turns into whitish-blue before ecdysis. The scales are darkened by deposits of very fine black pigment on margins. The labials, chin plates, anal region, and tip of tail are usually pale.
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    生態描述
                </div>
                <div class="info-box-text"> 	
                    <div class="info-box-paragraph">
                        這些東南亞的小型蛇類看起來就像又黑又亮的蚯蚓，並成功地以藏匿於苗圃土壤內的方式，於許多亞熱帶及熱帶地區繁衍。牠們是群很好的殖民者，據大部分的資料指出，盲蛇大概是世界上唯一純單性生殖的蛇種：牠們全都是母的，且為無性生殖，因此只需要一條盲蛇就能產生一個群體。
                    </div>

                    <div class="info-box-paragraph">
                        盲蛇 被造物主設計為適合生存於地底，但牠也能夠於地表及水底下行動。下大雨時，通常會破壞地底下儲藏的空氣，而使牠們不得不被破壞時鑽出地表。牠們也會出現在枯葉堆裡，死去的樹木或石頭底下，但被發現時常被誤以為是蚯蚓而被忽略。一但被發現，牠們會以腹部努力地抓緊地面並劇烈地擺動加以逃逸。有時候牠們會將尾巴的尖端刺入捕捉者的身體裡，引起一陣無害的刺痛。
                    </div>

                    <div class="info-box-paragraph">
                        這種蛇類以螞蟻、昆蟲的幼蟲及甲蟲為食。對牠的狩獵技巧我們所知道的很有限，且看起來牠似乎是個投機取巧的食客。反之，牠則是許多其他大型生物的獵物 - 大多是鳥類、大型蛙類、爬蟲類及其他蛇種。

                    </div>
                    盲蛇的繁殖習慣因牠們為單性生殖的蛇種（能在沒有雄性介入的情況下繁殖），而在蛇類內顯得相當獨特。牠們同時也是卵生的，但很少有其生產行為的研究。懷孕的母體通常出現於4月~７月。產蛋量為2~7顆不定；這些小巧的蛋大約僅13mm x 4mm大。
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    學名與俗名
                </div>
                <div class="info-box-text">
                    <div class="info-box-paragraph">
                        <span lang="en-US"><i>Indotyphlops </i>:<span/> 來自希臘語的 <span lang="en-US"><i>typhlops</i></span>，意為盲人，<span lang="en-US"><i>indo</i></span> 表示印度或印度尼西亞的分佈。
                    </div>
                    <div class="info-box-paragraph">
                       <span lang="en-US"><i>braminus</i></span>，拉丁文的"<span lang="en-US">Brahmin</span>"，一個印度的世襲階級。
                        中文的「盲蛇」或「鉤盲蛇」 意思是「看不見的蛇」或是「帶勾的/彎曲的看不見的蛇」，後者與其種名相關（參照上方）。
                    </div>
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    相關連結
                </div>
                <ul class="my-list2 info-box-text my-list-1--species" lang="en-US">
                    <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="https://reptile-database.reptarium.cz/species?genus=indotyphlops&species=braminus"></a>Reptile Database</li>
                    <li lang="en-US"><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://en.wikipedia.org/wiki/Ramphotyphlops_braminus">Wikipedia</a></li>
                </ul>
            </div>

            <div class="translator-name">翻譯:周信甫</div>

        </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script   src="js/mySwiper.min.js"></script>

{% endblock %}