{% set body_class = "links" %}
{% extends "_layout_zh.njk" %} 
{% block hrefLanguage %}
     <link rel="alternate" hreflang="zh-TW" href="https://snakes-of-taiwan-test.netlify.app/links_zh.html" />
     <link rel="alternate" hreflang="zh" href="https://snakes-of-taiwan-test.netlify.app/links_zh.html" />
         <link rel="alternate" hreflang="en-US" href="https://snakes-of-taiwan-test.netlify.app/links.html" />
         <link rel="alternate" hreflang="en" href="https://snakes-of-taiwan-test.netlify.app/links.html" />
{% endblock %}
{% block metaDescription %}
    "鏈接到有關台灣的爬行動物和生物多樣性的資源，鏈接到有關蛇的書籍，照片博客，表格和一般信息"
{% endblock %}
{% block headLinks %}    
    <link rel="stylesheet" href="css/infoPages.min.css">
{% endblock %}
{% block csp %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; script-src 'self' https://www.google-analytics.com; media-src 'self'; connect-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; style-src 'self'">
{% endblock %}
{% block title %}
    在學校開創關於蛇的課程
{% endblock %}
{% block content %}

    <h1 class="header">相關網站與文獻</h1>

    <div class="text-box--links">    
    <h2 class="header-links">相關書籍</h2>
        <ul class="my-list2">
            <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="https://www.kingstone.com.tw/basic/2013880034421/">台灣兩棲爬行類圖鑑</a><br>一本於<span lang="en-US">2009</span>年所出版的書籍，幾乎紀錄了所有台灣兩棲爬蟲的圖鑑。</li>
            <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.archive.org/details/herpetologyjapa01stejgoog"><span lang="en-US">Herpetology of Japan and adjacent territory(</span>日本及其鄰近地區的兩棲爬蟲<span lang="en-US">)</span></a><br>經典的線上電子書由<span lang="en-US">Leonhard Hess Stejneger's </span>在 <span lang="en-US">1907</span> 撰</li>
        </ul>        
    </div>

    <div class="text-box--links">    
    <h2 class="header-links">相簿連結</h2>
        <ul class="my-list2">
            <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://blog.sina.com.tw/d100vs/"><span lang="en-US">Hsiao Hei's Herp Photo Blog (</span>自然生活記趣<span lang="en-US">)</span></a><br>台灣最好的野生動物攝影者之一</li>
            <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://blog.xuite.net/snakejoan/"><span lang="en-US">Hsiao Hsun's Herp Photo Blog (</span>小勛<span lang="en-US">'s Blog)</span></a><br>一個熱愛四處找野生動物攝影的攝影者</li>
            <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://blog.xuite.net/snakejoan/"><span lang="en-US">Snakejoan's Herp Photo Blog (</span>小青蛇所有日誌本<span lang="en-US">)</span></a><br></li>
            <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://blog.sina.com.tw/naturetranslator/"><span lang="en-US">Nature Translator (</span>大自然的譯者<span lang="en-US">)</span></a><br></li>
            <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://two-ton.blogspot.com/2009/08/fhf-posts-so-far.html"><span lang="en-US">Twoton's Pitcher Post</a><br>有著許多國外攝影紀錄的<span lang="en-US">blog</span></li>
        </ul>        
    </div>

    <div class="text-box--links">    
    <h2 class="header-links">爬蟲資訊</h2>
        <ul class="my-list2">
            <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.gernot-vogel.de/index.php?uselang=en&target="><span lang="en-US">Gernot Vogel's Homepage</span></a><br>有著關於東南亞物種的介紹，特別是 <span lang="en-US"><i>Trimeresurus</i></span> 與 <span lang="en-US"><i>Boiga</i></span> 兩種。</li>
        </ul>        
    </div>

    <div class="text-box--links">    
    <h2 class="header-links">相關論壇</h2>
        <ul class="my-list2">
            <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.fieldherpforum.com/forum" lang="en-US">Field Herp Forum</a><br>最大、最好和最友善的野探心得交流網。</li>  
        </ul>        
    </div>

{% endblock %}