{% set body_class, translation_link = "links" %}

{% extends "_layout.njk" %} 
{% block hrefLanguage %}
         <link rel="alternate" hreflang="en-US" href="https://snakes-of-taiwan-test.netlify.app/links.html" />
         <link rel="alternate" hreflang="en" href="https://snakes-of-taiwan-test.netlify.app/links.html" />
     <link rel="alternate" hreflang="zh-TW" href="https://snakes-of-taiwan-test.netlify.app/links_zh.html" />
     <link rel="alternate" hreflang="zh" href="https://snakes-of-taiwan-test.netlify.app/links_zh.html" />
{% endblock %}
{% block metaDescription %}
    "Links to resources about the herpetofauna and biodiversity of Taiwan, links to books, photo blogs, forms and general information about snakes."
{% endblock %}
{% block headLinks %}    
    <link rel="stylesheet" href="css/infoPages.min.css">
{% endblock %}
{% block csp %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; script-src 'self' https://www.google-analytics.com https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.6/purify.min.js; media-src 'self'; connect-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; style-src 'self'">
{% endblock %}
{% block title %}
    Links and literature
{% endblock %}
{% block content %}

    <h1 class="header">LINKS AND LITERATURE</h1>

    <div class="text-box--links">    
    <h2 class="header-links">Books</h2>
        <ul class="my-list2">
            <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="https://www.kingstone.com.tw/basic/2013880034421/"><span lang="zh-TW">台灣兩棲爬行類圖鑑</span></a><br>The newest (2009) and most comprehensive guide on Taiwan's amphibians & reptiles</li>
            <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.archive.org/details/herpetologyjapa01stejgoog">Herpetology of Japan and adjacent territory</a><br>Leonhard Hess Stejneger's 1907 classic online</li>
        </ul>        
    </div>

    <div class="text-box--links">    
    <h2 class="header-links">Photo Blogs</h2>
        <ul class="my-list2">
            <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://blog.sina.com.tw/d100vs/">Hsiao Hei's Herp Photo Blog (<span lang="zh-TW">自然生活記趣</span>)</a><br>One of the best herpetology and wildlife photographers in Taiwan</li>
            <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://blog.xuite.net/snakejoan/">Hsiao Hsun's Herp Photo Blog (<span lang="zh-TW">小勛's</span> Blog)</a><br>Another fantastic Taiwanese herp photographer</li>
            <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://blog.xuite.net/snakejoan/">Snakejoan's Herp Photo Blog (<span lang="zh-TW">小青蛇所有日誌本</span>)</a><br></li>
            <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://blog.sina.com.tw/naturetranslator/">Nature Translator (<span lang="zh-TW">大自然的譯者</span>)</a><br></li>
            <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://two-ton.blogspot.com/2009/08/fhf-posts-so-far.html">Twoton's Pitcher Post</a><br>A collection of photo reports from field outings in Taiwan</li>
        </ul>        
    </div>

    <div class="text-box--links">    
    <h2 class="header-links">General Information on Snakes</h2>
        <ul class="my-list2">
            <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.gernot-vogel.de/index.php?uselang=en&target=">Gernot Vogel's Homepage</a><br>Information on Southeast Asian species, especially <i>Trimeresurus</i> and <i>Boiga</i>.</li>
        </ul>        
    </div>

    <div class="text-box--links">    
    <h2 class="header-links">Forums</h2>
        <ul class="my-list2">
            <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.fieldherpforum.com/forum">Field Herp Forum</a><br>The biggest, best and friendliest place for field herpetology on the Internet.</li>  
        </ul>        
    </div>

{% endblock %}