{% set body_class = "links" %}
{% extends "_layout_zh.njk" %} 
{% block hrefLanguage %}
     <link rel="alternate" hreflang="zh-TW" href="links_zh.html" />
     <link rel="alternate" hreflang="zh" href="links_zh.html" />
     <link rel="alternate" hreflang="en-US" href="links.html" />
     <link rel="alternate" hreflang="en" href="links.html" />
{% endblock %}
{% block metaDescription %}
    "鏈接到有關台灣的爬行動物和生物多樣性的資源，鏈接到有關蛇的書籍，照片博客，表格和一般信息"
{% endblock %}
{% block csp %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; script-src 'self' https://www.google-analytics.com; media-src 'self'; connect-src https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; style-src 'self'">
{% endblock %}
{% block title %}
    在學校開創關於蛇的課程
{% endblock %}
{% block content %}

    <h1 class="header"">相關網站與文獻</h1>
    
    <div class="text-box--links">    
    <h2 class="header-links"">來自台灣的資訊</h2>
        <ul class="my-list2">
            <li><a class="site-link" href="http://taibif.org.tw/BiotaTaiwanicaAlt/result_species.php" lang="en-US" id="text-english">TARA</a><br>台灣兩棲爬蟲動物協會</li>
            <li><a class="site-link" href="https://www.snakesoftaiwan.com/BN016-Revise%20of%20Scientific%20Name%20of%20Reptiles%20of%20Taiwan.pdf">台灣兩棲爬蟲分類俢訂</a><br><span id="text-english">2009</span> 由 向高世 先生所俢訂的兩棲爬蟲分類資訊。 <span lang="en-US" id="text-english">(PDF, 5.6 MB)</span></li>
            <li><a class="site-link" href="http://taibif.org.tw/BiotaTaiwanicaAlt/result_species.php">台灣生物誌</a><br>A一個立志建立全台灣生物誌的網站 。更多相關資訊請見 <a class="site-link" href="http://mepopedia.com/blog/index.php?/archives/1098-BiologyWildlife-Conservation-Eight-Years-on-Completing-Biota-Taiwanica.html" </a></li>
            <li><a class="site-link" href="http://taibif.org.tw/index.php">台灣生物多樣性資訊入口網</a><br>台灣生物多樣性數據庫。</li>
        </ul>        
    </div>

    <div class="text-box--links">    
    <h2 class="header-links"">相關書籍</h2>
        <ul class="my-list2">
            <li><a class="site-link" href="http://www.books.com.tw/exep/prod/booksfile.php?item=0010455301">台灣兩棲爬行類圖鑑</a><br>一本於<span id="text-english">2009</span>年所出版的書籍，幾乎紀錄了所有台灣兩棲爬蟲的圖鑑。</li>
            <li><a class="site-link" href="http://www.archive.org/details/herpetologyjapa01stejgoog"><span lang="en-US" id="text-english">Herpetology of Japan and adjacent territory(</span>日本及其鄰近地區的兩棲爬蟲<span id="text-english">)</span></a><br>經典的線上電子書由<span lang="en-US" id="text-english">Leonhard Hess Stejneger's </span>在 <span id="text-english">1907</span> 撰</li>
            <li><a class="site-link" href="http://www.geitje-books-berlin.de/"><span lang="en-US" id="text-english">Asian Pitvipers (</span>亞洲的蝮蛇<span id="text-english">)</span></a><br>由 <span lang="en-US" id="text-english">Andreas Gumprecht, Frank Tillack, Nikolai L. Orlov, Ashok Captain and Sergei Ryabov - Geitje </span>所撰寫的書，<span lang="en-US" id="text-english">Berlin</span>出版。</li>
        </ul>        
    </div>

    <div class="text-box--links">    
    <h2 class="header-links"">相簿連結</h2>
        <ul class="my-list2">
            <li><a class="site-link" href="http://blog.sina.com.tw/d100vs/"><span lang="en-US" id="text-english">Hsiao Hei's Herp Photo Blog (</span>自然生活記趣<span id="text-english">)</span></a><br>台灣最好的野生動物攝影者之一</li>
            <li><a class="site-link" href="http://blog.xuite.net/snakejoan/"><span lang="en-US" id="text-english">Hsiao Hsun's Herp Photo Blog (</span>小勛<span lang="en-US" id="text-english">'s Blog)</span></a><br>一個熱愛四處找野生動物攝影的攝影者</li>
            <li><a class="site-link" href="http://tw.myblog.yahoo.com/x0001882"><span lang="en-US" id="text-english">Zhiming's Snake Kingdom (</span>志明的蛇王國<span id="text-english">)</span></a><br></li>
            <li><a class="site-link" href="http://blog.xuite.net/snakejoan/"><span lang="en-US" id="text-english">Snakejoan's Herp Photo Blog (</span>小青蛇所有日誌本<span id="text-english">)</span></a><br></li>
            <li><a class="site-link" href="http://blog.sina.com.tw/watchworld/article.php?pbgid=73401&entryid=588082"><span lang="en-US" id="text-english">A-jie's Herp Photo Blog (</span>山野漫遊筆記<span id="text-english">)</span></a><br>另一位優秀的台灣野生動物攝影者</li>
            <li><a class="site-link" href="http://blog.sina.com.tw/naturetranslator/"><span lang="en-US" id="text-english">Nature Translator (</span>大自然的譯者<span id="text-english">)</span></a><br></li>
            <li><a class="site-link" href="http://two-ton.blogspot.com/2009/08/fhf-posts-so-far.html"><span lang="en-US" id="text-english">Twoton's Pitcher Post</a><br>有著許多國外攝影紀錄的<span lang="en-US" id="text-english">blog</span></li>
        </ul>        
    </div>

    <div class="text-box--links">    
    <h2 class="header-links"">爬蟲資訊</h2>
        <ul class="my-list2">
            <li><a class="site-link" href="http://www.bangor.ac.uk/~bss166/"><span lang="en-US" id="text-english">Wolfgang Wüster's Homepage</span></a><br><span lang="en-US" id="text-english">Wolfgang Wüster</span> 是一位在 <span lang="en-US" id="text-english">Wales</span> 大學任教的爬蟲學家與講師。他主要的研究領域是生態系統學與毒蛇。</li>
            <li><a class="site-link" href="http://www.gernot-vogel.de/index.php?uselang=en&target="><span lang="en-US" id="text-english">Gernot Vogel's Homepage</span></a><br>有著關於東南亞物種的介紹，特別是 <span lang="en-US" id="text-english">Trimeresurus</span> 與 <span lang="en-US" id="text-english">Boiga</span> 兩種。</li>
            <li><a class="site-link" href="http://sbsweb.bangor.ac.uk/~bss166/Taxa/AsNaja.htm"><span lang="en-US" id="text-english">Asiatic Cobra Systematics (</span>亞洲眼鏡蛇<span id="text-english">)</span></a><br></li>
            <li><a class="site-link" href="http://www.seasnakes.info/"><span lang="en-US" id="text-english">Sea Snakes (</span>海蛇<span id="text-english">)</span></a><br>幾乎所有你所想要知道有關這夢幻物種的資訊都可以在這找到。</li> 
        </ul>        
    </div>

    <div class="text-box--links">    
    <h2 class="header-links"">相關論壇</h2>
        <ul class="my-list2">
            <li><a class="site-link" href="http://www.fieldherpforum.com/forum" lang="en-US" id="text-english">Field Herp Forum</a><br>最大、最好和最友善的野探心得交流網。</li>  
            <li><a class="site-link" href="http://repstyle.org/discuz/forumdisplay.php?fid=64"><span lang="en-US" id="text-english">RepStyle</span> (爬爬風-台灣兩爬知識專題討論板)</a><br>台灣最佳的爬蟲討論網。</li>
            <li><a class="site-link" href="http://www.venomdoc.com/forums/index.php" lang="en-US" id="text-english">Venomdoc Forum</a><br><span lang="en-US" id="text-english">Dr. Bryan G. Fry's</span> 所建立可討論一切有毒無毒物種的論壇。</li>
        </ul>        
    </div>

{% endblock %}