{% set species = lycodonRufozonatusRespImgs %}
{% set translation_link = species[0].nameLowerCaseHyphenated  %}

{% extends "_layout_zh.njk" %} 
{% block hrefLanguage %}
         <link rel="alternate" hreflang="en-US" href="https://snakes-of-taiwan-test.netlify.app/{{- species[0].nameLowerCaseHyphenated -}}.html" />
         <link rel="alternate" hreflang="en" href="https://snakes-of-taiwan-test.netlify.app/{{- species[0].nameLowerCaseHyphenated -}}.html" />
     <link rel="alternate" hreflang="zh-TW" href="https://snakes-of-taiwan-test.netlify.app/{{- species[0].nameLowerCaseHyphenated -}}_zh.html" />
     <link rel="alternate" hreflang="zh" href="https://snakes-of-taiwan-test.netlify.app/{{- species[0].nameLowerCaseHyphenated -}}_zh.html" />
{% endblock %}
{% block metaDescription %}
    "{{ species[0].chineseName }} {{ species[0].chineseNameRomanized }}. {{ species[0].danger }}, 最大體長: 160 cm, 廣泛分布於台灣、馬祖海拔兩千以下的區域。常見。紅斑蛇是在台灣最常見的夜行性蛇類。牠的分布範圍非常廣泛，在森林裡、田野邊、甚至是水塘邊都可以發現牠的蹤影。 牠的食性亦廣，魚、鳥、蜥蜴、青蛙、蟾蜍、蛇和蛇蛋、甲蟲、甚至路邊死亡的屍體都是牠的目標。其中，以蟾蜍為紅斑蛇最喜愛的獵物。"
{% endblock %}
{% block headLinks %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/swiperJsGallery.min.css">       
    <link rel="stylesheet" href="css/infoPages.min.css">
{% endblock %}
{% block csp %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; script-src 'self' https://www.google-analytics.com https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.6/purify.min.js https://unpkg.com/swiper/swiper-bundle.min.js; media-src 'self'; connect-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; style-src 'self' https://unpkg.com/swiper/swiper-bundle.min.css; font-src 'self' data: application/font-woff">
{% endblock %}
{% block title %}
    {{ species[0].name }} - {{ species[0].chineseName }}
{% endblock %}

{% block content %}
    
    <div class="header-box">
        <h1 class="header--species" lang="en-US">{{ species[0].name }}</h1>
        <h2 class="header--name" lang="en-US">{{ species[0].commonName }}</h2>
        <h2 class="header--name">{{ species[0].chineseName }}</h2>
        <h3 class="header--status">{{ species[0].statusChinese }}</h3>
        <h4 class="header--danger">{{ species[0].dangerChinese }}</h4>
    </div>                      

    {% include "partials/_swiper-responsive-images-modal_zh.njk" %}
    {% include "partials/_swiper-responsive-images-nonModal_zh.njk" %}
    {% include "partials/_swiper-responsive-images-thumbs_zh.njk" %}

    <div class="text-box-container">
        <div class="text-box--species-media">
            <div class="species-info-box">
                <div class="info-box-header">          
                    相關影片
                </div>
                <div class="info-box-text">
                    <ul class="my-list2 info-box-text my-list-1--species">
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.youtube.com/watch?v=6LuW2F7F_u4">獵食體型過大蟾蜍的下場...</a></li>
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.youtube.com/watch?v=Yqm11FY7ppk">紅斑蛇1號 1</a></li>
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.youtube.com/watch?v=u-yge0RHQ_M">紅斑蛇2號 2</a></li>
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.youtube.com/watch?v=KVetkNYYOa0">好一條特大尾紅斑</a></li>
                    </ul>
                </div>
            </div>
            <div class="species-info-box">
                <div class="info-box-header">          
                    鄉野調查
                </div>
                <div class="info-box-text">
                    <ul class="my-list2 info-box-text my-list-1--species">
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.fieldherpforum.com/forum/viewtopic.php?f=2&t=666">野外紅斑</a></li>
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.fieldherpforum.com/forum/viewtopic.php?f=2&t=1010">紅斑吃蟾蜍</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="text-box-container text-box-container-info">
        <div class="text-box--species">
            <div class="species-info-box">
                <div class="info-box-header">          
                    家族
                </div>
                <div class="info-box-text">
                    黃頜蛇科 <span lang="en-US">Colubridae, subfamily Lycodontinae</span>
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    最大體長
                </div>
                <div class="info-box-text" lang="en-US">
                    160 cm
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    台灣棲地分布
                </div>
                <div class="info-box-text">
                    廣泛分布於台灣、馬祖海拔兩千以下的區域。常見。
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    世界棲地分布
                </div>
                <div class="info-box-text">
                    日本 (對馬群島, 琉球群島 Is.), 韓國, 中國東部 (只有內蒙古西部到新疆、西藏沒有), 台灣, 寮國, 北越南, 南俄羅斯濱海邊疆區 (俄羅斯遠東地區)
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    外觀描述
                </div>
                <div class="info-box-text" lang="en-US">
                    中型蛇；最大長度大約160 cm。體鳞平滑有光澤，約15-21(通常是17)列。頭部寬扁，且呈現不明顯的三角形；身體細長不會太粗胖，截面是圓的；尾巴很長。 眼睛突起，大小中等且接近頭頂；虹膜介於深褐色和黑色之間，瞳孔窄而垂直，是黑色的並不顯眼。舌頭接近舌幹的部分是鮭魚色，過了分剎點轉為灰白色。頭頂前半部分到吻端全部是黑褐色，後半部分到脖子延伸前半部有一個頂點朝吻端方向的"V"字型黑褐色標記。兩頰順著"V"字各有一道紅褐色斜條。上唇約三分之二以上為灰白色或淺棕色。紅褐色的背部有連續的大型黑色橫斑交錯，呈現紅黑紅黑相間的花紋縱貫整條蛇身。兩側蛇腹有固定形狀(不同個體形狀有差異)的黑色斑紋與背部的黑色橫斑對應交錯。下顎為灰奶油色或灰白色。腹部是亮灰色，另外還有腹側延伸下來的黑色斑塊交錯，越靠尾端顏色越鮮豔但也更雜亂；肛鳞完整、尾下鳞成對。
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    生態描述
                </div>
                <div class="info-box-text"> 	
                    <div class="info-box-paragraph">
                        紅斑蛇是在台灣最常見的夜行性蛇類。牠的分布範圍非常廣泛，在森林裡、田野邊、甚至是水塘邊都可以發現牠的蹤影。 牠的食性亦廣，魚、鳥、蜥蜴、青蛙、蟾蜍、蛇和蛇蛋、甲蟲、甚至路邊死亡的屍體都是牠的目標。其中，以蟾蜍為紅斑蛇最喜愛的獵物。卵生。母蛇在春夏季時產下一窩蛋，每窩約8枚。少數個體可一年產兩窩，春夏各一。孵化時間大約是一個月，初生的幼蛇約 23cm。
                    </div>
                    紅斑蛇攻擊性頗強，當不安的時候很容易發起攻擊行為。比較特別的是，牠的肛線與洩殖腔可排出具有惡臭的分泌物，用以阻禦外敵的侵擾。
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    學名與俗名
                </div>
                <div class="info-box-text">
                    <div class="info-box-paragraph">
                        <span lang="en-US"><i>Lycodon</i></span>:  <span lang="en-US"><i>lycos</i></span> 在希臘文是 "狼", <span lang="en-US"><i>odon</i></span>  則是 "牙齒"; 這是形容牠遠大於後齒的前齒，這結構賦予牠能夠牢牢的咬住敏捷且滑溜的蜥蜴。
                    </div>
                    <div class="info-box-paragraph">
                        <span lang="en-US"><i>rufozonatum</i></span>: <span lang="en-US"><i>rufus</i></span> 是拉丁語紅色的，<span lang="en-US"><i>zonatus</i></span> 則是環帶的意思;
                    </div>
                    紅斑蛇、火赤煉(鏈)、赤煉(鏈)蛇、桑根蛇、赤斑(日本)。 
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    附註
                </div>
                <div class="info-box-text">
                    赤鏈蛇為大陸的叫法。大陸武夷山以浸泡蛇酒聞名，除了各種毒蛇，紅斑蛇也是蛇酒內常見的種類。               
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    相關連結
                </div>
                <ul class="my-list2 info-box-text my-list-1--species">
                    <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://e-info.org.tw/node/39727">台灣第一蛇 紅斑蛇</a></li>
                    <li lang="en-US"><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="https://reptile-database.reptarium.cz/species?genus=Lycodon&species=rufozonatus">Reptile Database</a></li>
                </ul>
            </div>
            
            <div class="translator-name">翻譯:周信甫</div>

        </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script   src="js/mySwiper.min.js"></script>

{% endblock %}