<div>
    {# set variable for species page to create (which responsive img info to get from data.json) #}
    {%- set species = trimeresurusStejnegeriStejnegeriRespImgs -%}
    {% include "partials/_swiper-responsive-images-modal.njk" %}
</div>
