{% set species = pseudagkistrodonRudisRespImgs %}
{% set translation_link = species[0].nameLowerCaseHyphenated %}

{% extends "_layout.njk" %} 
{% block hrefLanguage %}
         <link rel="alternate" hreflang="en-US" href="https://snakes-of-taiwan-test.netlify.app/{{- species[0].nameLowerCaseHyphenated -}}.html" />
         <link rel="alternate" hreflang="en" href="https://snakes-of-taiwan-test.netlify.app/{{- species[0].nameLowerCaseHyphenated -}}.html" />
     <link rel="alternate" hreflang="zh-TW" href="https://snakes-of-taiwan-test.netlify.app/{{- species[0].nameLowerCaseHyphenated -}}_zh.html" />
     <link rel="alternate" hreflang="zh" href="https://snakes-of-taiwan-test.netlify.app/{{- species[0].nameLowerCaseHyphenated -}}_zh.html" />
{% endblock %}
{% block metaDescription %}
    ""
{% endblock %}
{% block headLinks %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/swiperJsGallery.min.css">       
    <link rel="stylesheet" href="css/infoPages.min.css">
{% endblock %}
{% block csp %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; script-src 'self' https://www.google-analytics.com https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.6/purify.min.js https://unpkg.com/swiper/swiper-bundle.min.js; media-src 'self'; connect-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; style-src 'self' https://unpkg.com/swiper/swiper-bundle.min.css; font-src 'self' data: application/font-woff">
{% endblock %}
{% block title %}
    {{ species[0].name }} - {{ species[0].commonName }}
{% endblock %}

{% block content %}
    
    <div class="header-box">
        <h1 class="header--species">{{ species[0].name }}</h1>
        <h2 class="header--name">{{ species[0].commonName }}</h2>
        <h2 class="header--name"><span lang="zh-TW">{{ species[0].chineseName }}</span> {{ species[0].chineseNameRomanized }}</h2>
        <h3 class="header--status">{{ species[0].status }}</h3>
        <h4 class="header--danger">{{ species[0].danger }}</h4>
    </div>                      

    {% include "partials/_swiper-responsive-images-modal.njk" %}
    {% include "partials/_swiper-responsive-images-nonModal.njk" %}
    {% include "partials/_swiper-responsive-images-thumbs.njk" %}

    <div class="text-box-container">
        <div class="text-box--species-media">
            <div class="species-info-box">
                <div class="info-box-header">          
                    Field Reports
                </div>
                <div class="info-box-text">
                    <ul class="my-list2 info-box-text my-list-1--species">
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.fieldherpforum.com/forum/viewtopic.php?f=2&t=936">False Taiwan Habu</a></li>
                    </ul>     
                </div>
            </div>
        </div>
    </div>

    <div class="text-box-container text-box-container-info">
        <div class="text-box--species">
            <div class="species-info-box">
                <div class="info-box-header">          
                    Family
                </div>
                <div class="info-box-text">
                    Colubridae, subfamily <a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://en.wikipedia.org/wiki/Natricinae">Natricinae</a>
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    Max. length
                </div>
                <div class="info-box-text">
                    120 cm
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    Occurrence in Taiwan
                </div>
                <div class="info-box-text">
                    Low and medium elevations throughout Taiwan. Quite common.
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    Global Distribution
                </div>
                <div class="info-box-text">
                    South China (Fujian, Yunnan, Sichuan, Guizhou, Hunan, Jiangxi, Zhejiang, Guangxi, Guangdong, Anhui, Hunan), Taiwan.
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    Description
                </div>
                <div class="info-box-text">
                    Medium-sized snake; total length up to 120 cm. There are 19-25 (23 at mid-body) rows of 
                    scales, which are heavily keeled. Head is broad, moderately triangular and 
                    moderately separated from neck; body is stout, slightly compressed or 
                    flattened; tail is moderately long. Eye is medium to large; iris is light 
                    brown with scattered areas of black, while anterior and posterior quarters 
                    of eye are dark brown, pupil is slightly oval to round, black, surrounded 
                    by irregular ring of light tan. Tongue is large, dark gray blue, fork tips 
                    light gray. Upper head is dark dirty brown to chocolate, with a prominent 
                    line of demarcation where the brown of the upper head meets the light 
                    brown, orange tinged side of head, extending from tip of nose along side 
                    of head to neck. Dorsal shields of head are large, but not distinct due to 
                    coloration and poorly developed sutures. The nuchal scales are heavily 
                    keeled. Upper body is brown to gray brown, may be tinted with bronze, 
                    interrupted by dark designs, variable in size, disposition and intensity 
                    of pigmentation. The irregular designs crossing the vertebral line in 
                    anterior half of body tend to lose continuity in the following part of 
                    body where they are replaced by roughly circular, separated designs along 
                    vertebral line. Other spots involving two to four scales occur on the 
                    sides of the body, and the posterior ones may fuse to form longitudinal 
                    lateral band. Ventral head is dirty white to dull orange gray. Ventral 
                    body is variable, dull dirty orange at neck with scattered dark gray to 
                    brown black pigment, overall color progressively darker posteriorly with 
                    mottled or marbled appearance in posterior parts of body. Anal scale is 
                    divided and subcaudals are paired.
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    Biology & Ecology
                </div>
                <div class="info-box-text"> 
                    <div class="info-box-paragraph">
                        This diurnal or nocturnal rear-fanged (= opistoglyphous, see footnote <i>(1)</i>) 
                        snake is found on mountainous forest floors, bush- and grassland, or near 
                        creeks. It feeds mainly on toads, but also on frogs, small snakes, 
                        lizards, insects and earthworms. Females give birth to 12-27 young per 
                        litter in late summer and fall; hatchlings measure 13-20 cm in total 
                        length. When irritated and excited, it may make every effort to act or 
                        appear as a venomous snake: the head and neck, or the entire body, may be 
                        flattened as the snake coils up in defense; when flattened, the oval 
                        head may take on a strong, definite triangular shape in an attempt to 
                        mimic vipers.
                    </div>
                    <div class="info-box-paragraph">
                        Many members of the family Colubridae that are considered venomous are essentially 
                        harmless to humans, because they either have small venom glands, 
                        relatively weak venom, or an inefficient system for venom delivery. The venom of <i>P.rudis</i> is not well studied but a transcriptomic study found that <i>P. rudis</i> contains toxin-encoding genes that are homologous to front-fanged snakes. (<a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="https://www.sciencedirect.com/science/article/abs/pii/S0041010115300805?via%3Dihub">Source</a>)
                    </div>                                                  
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    Etymology
                </div>
                
                <div class="info-box-text">
                    <div class="info-box-paragraph">
                        <i>Pseudagkistrodon</i>: from Greek "<i>pseudes</i>", "false", and "<i>Agkistrodon</i>", a genus of American pit vipers. The name <i>Agkistrodon</i> comes from the Greek words <i>ankistron</i> 'fishhook' and <i>odon</i> 'tooth' and is likely a reference to the fangs. (<a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="https://en.wikipedia.org/wiki/Agkistrodon">Source</a>)
                    </div>
                    <div class="info-box-paragraph">
                        <i>rudis</i> is Latin for "rough, crude, unlearned".
                    </div>
                    The Chinese name <span lang="zh-TW">擬龜殼花</span> (ni3gui1ke3hua1) means "False Taiwan Habu", referring to 
                    the sympatric pitviper <a target="_blank" rel="noopener" rel="noreferrer" class="site-link--species" href="protobothrops-mucrosquamatus.html">Protobothrops mucrosquamatus</a> which it appears to mimic.           
                </div>
            </div>
            <div class="species-info-box">
                <div class="info-box-header">          
                    Footnotes
                </div>
                <div class="info-box-text">
	                (1) "<i>Opisthoglyphous snakes are similar to aglyphous (fangless) snakes, but 
                    possess weak venom, which is injected by means of a pair of enlarged teeth 
                    at the back of the maxillae (upper jaw). These "fangs" typically point 
                    backwards her than straight down, possess a groove which channels venom 
                    into the prey, and are located roughly halfway back in the mouth, which 
                    has led to the vernacular name of "rear-fanged snakes</i>"". (<a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.smarley.nl/main.php/v/Opisthoglyph/">Source</a>)
                </div>    
            </div>
            <div class="species-info-box">
                <div class="info-box-header">          
                    Further Info
                </div>
                <ul class="my-list2 info-box-text my-list-1--species">
                    <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="https://reptile-database.reptarium.cz/species?genus=Pseudagkistrodon&species=rudis">Reptile Database</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script   src="js/mySwiper.min.js"></script>

{% endblock %}