{% set species = ptyasMajorRespImgs %}
{% set translation_link = species[0].nameLowerCaseHyphenated %}

{% extends "_layout.njk" %} 
{% block hrefLanguage %}
         <link rel="alternate" hreflang="en-US" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}.html" />
         <link rel="alternate" hreflang="en" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}.html" />
     <link rel="alternate" hreflang="zh-TW" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}_zh.html" />
     <link rel="alternate" hreflang="zh" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}_zh.html" />
{% endblock %}
{% block metaDescription %}
    "{{ species[0].chineseName }} {{ species[0].chineseNameRomanized }}. {{ species[0].danger }}, max length: 130 cm, throughout Taiwan, up to 1000 m altitude. Common. This mild-tempered diurnal snake inhabits humid forests and agricultural areas. It preys on earthworms and insect larvae and leads a semi-arboreal lifestyle, sleeping in trees and shrubs at night."
{% endblock %}
{% block headLinks %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/swiperJsGallery.min.css">       
    <link rel="stylesheet" href="css/infoPages.min.css">
{% endblock %}
{% block csp %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; script-src 'self' https://www.google-analytics.com https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.6/purify.min.js https://unpkg.com/swiper/swiper-bundle.min.js; media-src 'self'; connect-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; style-src 'self' https://unpkg.com/swiper/swiper-bundle.min.css; font-src 'self' data: application/font-woff">
{% endblock %}
{% block title %}
    {{ species[0].name }} - {{ species[0].commonName }}
{% endblock %}

{% block content %}
    
    <div class="header-box">
        <h1 class="header--species">{{ species[0].name }}</h1>
        <h2 class="header--name">{{ species[0].commonName }}</h2>
        <h2 class="header--name"><span lang="zh-TW">{{ species[0].chineseName }}</span> {{ species[0].chineseNameRomanized }}</h2>
        <h3 class="header--status">{{ species[0].status }}</h3>
        <h4 class="header--danger">{{ species[0].danger }}</h4>
    </div>                      

    {% include "partials/_swiper-responsive-images-modal.njk" %}
    {% include "partials/_swiper-responsive-images-nonModal.njk" %}
    {% include "partials/_swiper-responsive-images-thumbs.njk" %}   


    <div class="text-box-container">
        <div class="text-box--species-media">
            <div class="species-info-box">
                <div class="info-box-header">          
                    Videos
                </div>
                <div class="info-box-text">
                    <ul class="my-list2 info-box-text my-list-1--species">
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.youtube.com/watch?v=34WRHukf2hY">Greater Green Snake on Tiger Head Mountain, North Taiwan (1)</a></li>
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.youtube.com/watch?v=mSIyyTx7cM0">Greater Green Snake on Tiger Head Mountain, North Taiwan (2)</a></li>
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.youtube.com/watch?v=v3ok3Jd12O4">Website Authors with Greater Green Snake on Yangmingshan, North Taiwan</a></li>
                    </ul>
                </div>
            </div>
            <div class="species-info-box">
                <div class="info-box-header">          
                    Field Reports
                </div>
                <div class="info-box-text">
                    <ul class="my-list2 info-box-text my-list-1--species">
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.fieldherpforum.com/forum/viewtopic.php?f=2&t=990">Sleeping Greater Green</a></li>
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.fieldherpforum.com/forum/viewtopic.php?f=2&t=1423">Two Greater Greens</a></li>
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.fieldherpforum.com/forum/viewtopic.php?f=2&t=2025">Green is Good, Greater Green is Better</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="text-box-container text-box-container-info">
        <div class="text-box--species">
            <div class="species-info-box">
                <div class="info-box-header">          
                    Family
                </div>
                <div class="info-box-text">
                    	Colubridae, subfamily <a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://en.wikipedia.org/wiki/Colubrinae">Colubrinae</a>
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    Max. length
                </div>
                <div class="info-box-text">
                    130 cm
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    Occurrence in Taiwan
                </div>
                <div class="info-box-text">
                   	Throughout Taiwan, up to 1000 m altitude. Common.
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    Global Distribution
                </div>
                <div class="info-box-text">
                    Central/South China (Hainan, Henan, Gansu, Anhui, Sichuan, Fujian, Guangdong, Guangxi, Guizhou, Hunan, Hubei, Jiangxi, Jiangsu, Shaanxi, Zhejiang), Taiwan, N. Vietnam, Laos
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    Description
                </div>
                <div class="info-box-text">
                    Medium-sized snake; total length up to 130 cm. There are 15 rows of smooth and glossy scales; some males may have two to five rows of keeled scales near posterior vertebral line. Head is narrow, oval to slightly triangular; body is slender; tail is long. Eye is medium to large; iris is light dull yellow to light tan, dappled by diffuse black pigment and pupil is round, jet black, surrounded by ring of light brown. Tongue is dull red with stem darkened by diffuse black pigment and fork tips dark gray to black. Upper head, body and tail is uniform green to dark green without designs while the supralabials and the first to third scale rows may be lighter in color. Ventral surface is light to yellow green, may be more yellow in anterior part of body. Anal scale is divided and the subcaudal scales are paired.
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    Biology & Ecology
                </div>
                <div class="info-box-text"> 
                    This mild-tempered diurnal snake inhabits humid forests and agricultural areas. It preys on earthworms and insect larvae and leads a semi-arboreal lifestyle, sleeping in trees and shrubs at night. Females produce 4-13 eggs of approximately 3 x 1.5 cm per clutch in spring and early summer. Hatchlings measure about 26 cm in total length.
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    Etymology
                </div>
                <div class="info-box-text">
                    <div class="info-box-paragraph">
                        <i>Ptyas</i> is an Ancient Greek for a kind of serpent said to spit venom into the eyes of men.
                    </div>
                    <div class="info-box-paragraph">
                        <i>major</i> means "big, great";
                    </div>
                    The Chinese name <span lang="zh-TW">青蛇</span> (qing1she2) means "Green Snake".
                </div>
            </div>
            <div class="species-info-box">
                <div class="info-box-header">          
                    Notes
                </div>
                <div class="info-box-text">
                    The harmless, invertebrate-eating Greater Green Snake is frequently mistaken for the 
                    <a target="_blank" rel="noopener" rel="noreferrer" class="site-link--species-common-name" href="trimeresurus-stejnegeri-stejnegeri.html">Chinese Tree Viper</a> (<i>T. s. stejnegeri</i>) and subsequently killed. However, while both snakes are green, 
                    the differences are quite obvious at a closer glance: the Chinese Tree Viper (or Bamboo Viper, as it is 
                    commonly referred to) has a triangular head, red eyes, a white stripe along both sides of the body, 
                    and a reddish-brown tail. The Greater Green Snake has an oval head, black eyes, no stripes, and a green tail. 
                    Its scales are also much shinier than the matte, dull coloring of the Bamboo Viper.  
                </div>
            </div>
            <div class="species-info-box">
                <div class="info-box-header">          
                    Further Info
                </div>
                <ul class="my-list2 info-box-text my-list-1--species">
                    <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="https://reptile-database.reptarium.cz/species?genus=Ptyas&species=major">Reptile Database</a></li>
                </ul>

            </div>

        </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script   src="js/mySwiper.min.js"></script>

{% endblock %}