{% set species = pythonMolurusBivittatusRespImgs %}
{% set translation_link = species[0].nameLowerCaseHyphenated %}

{% extends "_layout_zh.njk" %} 
{% block hrefLanguage %}
         <link rel="alternate" hreflang="en-US" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}.html" />
         <link rel="alternate" hreflang="en" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}.html" />
     <link rel="alternate" hreflang="zh-TW" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}_zh.html" />
     <link rel="alternate" hreflang="zh" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}_zh.html" />
{% endblock %}
{% block metaDescription %}
    "{{ species[0].chineseName }} {{ species[0].chineseNameRomanized }}. {{ species[0].danger }}, 最大體長: 360 cm, 台灣地區僅 金門˙有分布。緬甸蟒為夜形性，喜歡棲息在沼澤邊與低地森林，並且以哺乳類與鳥類為食。"
{% endblock %}
{% block headLinks %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/swiperJsGallery.min.css">       
    <link rel="stylesheet" href="css/infoPages.min.css">
{% endblock %}
{% block csp %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; script-src 'self' https://www.google-analytics.com https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.6/purify.min.js https://unpkg.com/swiper/swiper-bundle.min.js; media-src 'self'; connect-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; style-src 'self' https://unpkg.com/swiper/swiper-bundle.min.css; font-src 'self' data: application/font-woff">
{% endblock %}
{% block title %}
    {{ species[0].name }} - {{ species[0].chineseName }}
{% endblock %}

{% block content %}
    
    <div class="header-box">
        <h1 class="header--species" lang="en-US">{{ species[0].name }}</h1>
        <h2 class="header--name" lang="en-US">{{ species[0].commonName }}</h2>
        <h2 class="header--name">{{ species[0].chineseName }}</h2>
        <h3 class="header--status">{{ species[0].statusChinese }}</h3>
        <h4 class="header--danger">{{ species[0].dangerChinese }}</h4>
    </div>                      

    {% include "partials/_swiper-responsive-images-modal_zh.njk" %}
    {% include "partials/_swiper-responsive-images-nonModal_zh.njk" %}
    {% include "partials/_swiper-responsive-images-thumbs_zh.njk" %}

    <div class="text-box-container">
        <div class="text-box--species-media">
            <div class="species-info-box">
                <div class="info-box-header">          
                    更多美圖
                </div>
                <div class="info-box-text">
                    <ul class="my-list2 info-box-text my-list-1--species">
                        <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://photovalet.com/ARSV01P10_10.html"> 來自<span lang="en-US">Photovalet.com</span>的特寫</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="text-box-container text-box-container-info">
        <div class="text-box--species">
            <div class="species-info-box">
                <div class="info-box-header">          
                    家族
                </div>
                <div class="info-box-text">
                    蚺科,<a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://en.wikipedia.org/wiki/Pythonidae" lang="en-US">Pythoninae</a> 亞科
                    <br>
                    <span lang="en-US">subfamily <a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://en.wikipedia.org/wiki/Pythonidae">Pythoninae</a></span>
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    最大體長
                </div>
                <div class="info-box-text" lang="en-US">
                    360 cm
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    台灣棲地分布
                </div>
                <div class="info-box-text">
                    台灣地區僅 <a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://en.wikipedia.org/wiki/Kinmen">金門˙</a>有分布 
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    世界棲地分布
                </div>
                <div class="info-box-text">
                    <i>緬甸蟒是屬於一種除了菲律賓之外從巴基斯坦到印度皆有其蹤影的蟒科底下的亞種。此亞種是以知三種內分布範圍最大的，在中國南部，中南半島，緬甸，印度還有一些島嶼(婆羅洲，爪哇，蘇門答臘和名人群島) 都可見到</i>。
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    外觀描述
                </div>
                <div class="info-box-text" lang="en-US">
                    <i><span lang="en-US">T</span>緬甸蟒名列世界上大體型的蛇類之一。最長可以達到8公尺(通常7公尺較普遍)，體重可達到190磅(86公斤左右)。整體顏色是奶黃色，在頭頸部分有一個茅型的標誌，另外身上帶有棕色細長有黑色邊框的斑塊。具有可感熱的夾窩，使牠可以感應到藏匿的溫血動物</i>.
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    生態描述
                </div>
                <div class="info-box-text"> 	
                    <div class="info-box-paragraph">
                        <i>緬甸蟒為夜形性，喜歡棲息在沼澤邊與低地森林，並且以哺乳類與鳥類為食。牠利用倒鉤狀鋒利的牙齒咬住獵物，然後迅速把粗狀有力的身體緊緊的纏繞住獵物兩圈甚至以上，同時往內收縮他的肌肉，直到獵物窒息為止才開始慢慢的吞噬。
                    </div>
                    <div class="info-box-paragraph">
                        緬甸蟒靠著腹部的鱗片與地面接觸的摩擦力來動作，並且使用腹部肌肉來控制前進與後退。牠們很會攀爬，可以靠尾部停留在樹幹上。另外牠們也是水中健將，良好的水性使牠們可再水中逗留長達一個半小時。在偏北的地區冬季時牠們會進入冬眠好幾個月，通常會躲再樹洞或是石頭底下。
                    </div>
                    卵生蛇類，母蛇於早春產下 12-36 枚的卵，有著護卵的行為。孵化約需要兩個月以上的時間，達到性成熟則要 2-3 年。成長的速率則要視外在環境而定，目前活最久的紀錄是25年。</i>
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    學名與俗名
                </div>
                <div class="info-box-text">
                    <div class="info-box-paragraph">
                        <span lang="en-US"><i>Python</i></span>: <i>來自古希臘字 <span lang="en-US">Πύθων</span> (<span lang="en-US">Puthōn</span>), 這是在述說一條巨大的蛇在 <span lang="en-US">Delphi</span> 這個地方被阿波羅所殺的神話故事；後來從 <span lang="en-US">Delphi</span> 代表地名的這個字 <span lang="en-US">Πυθώ</span> (<span lang="en-US">Pūthō</span>)，演變為 <span lang="en-US">πυθώ</span> (<span lang="en-US">puthō</span>)，意思是“‘腐爛’”).</i> (<a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://www.etymonline.com/index.php?term=python" lang="en-US">Source</a>)
                    </div>

                    <div class="info-box-paragraph">
                        <span lang="en-US"><i>molurus</i></span>: <i>起源自希臘字<span lang="en-US">molouros</span> = 某種蛇，現已不可考是指哪種蛇 (<span lang="en-US">fide WALL </span>1921).</i> (<a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://tigr.org/reptiles/species.php?genus=Python&species=molurus" lang="en-US">Reptile Database</a>)
                    </div>
                    <div class="info-box-paragraph">
                        <span lang="en-US"><i>bivittatus</i></span>: 來自拉丁文 <span lang="en-US">prefix <i>bi</i></span> = 兩個、雙數，和 <span lang="en-US"><i>vitta</i></span> = 帶、條。
                    </div>
                    緬甸蟒、黑尾蟒、金花蟒、琴蛇。
                </div>
            </div>

            <div class="species-info-box">
                <div class="info-box-header">          
                    相關連結
                </div>
                <ul class="my-list2 info-box-text my-list-1--species" lang="en-US">
                    <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://reptile-database.reptarium.cz/species.php?genus=Python&species=bivittatus">Reptile Database</a></li>
                    <li><a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="http://en.wikipedia.org/wiki/Burmese_Python">Wikipedia</a></li>
                </ul>
            </div>

            <div class="translator-name">翻譯:周信甫</div>

        </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script   src="js/mySwiper.min.js"></script>

{% endblock %}