{% set species = schoolTalksRespImgs %}
{% set body_class, translation_link = "school-talks" %}

{% extends "_layout_zh.njk" %}
{% block hrefLanguage %}
         <link rel="alternate" hreflang="en-US" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}.html" />
         <link rel="alternate" hreflang="en" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}.html" />
     <link rel="alternate" hreflang="zh-TW" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}_zh.html" />
     <link rel="alternate" hreflang="zh" href="https://snakesoftaiwan.com/{{- species[0].nameLowerCaseHyphenated -}}_zh.html" />
{% endblock %}
{% block metaDescription %}
    "我們提供英語/普通話免費有趣且內容豐富的蛇語講座，受到當地媒體的關注。"
{% endblock %}
{% block headLinks %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/swiperJsGallery.min.css">       
    <link rel="stylesheet" href="css/infoPages.min.css">
{% endblock %}
{% block csp %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; script-src 'self' https://www.google-analytics.com https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.6/purify.min.js https://unpkg.com/swiper/swiper-bundle.min.js; media-src 'self'; connect-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; style-src 'self' https://unpkg.com/swiper/swiper-bundle.min.css; font-src 'self' data: application/font-woff">
{% endblock %}
{% block title %}
    學校講座
{% endblock %}

{% block content %}

    <div class="header-box">
        <h1  class="header">在學校開創關於蛇的課程</h1>
    </div>        
        
    {% include "partials/_swiper-responsive-images-modal_zh.njk" %}
    {% include "partials/_swiper-responsive-images-nonModal_zh.njk" %}
    {% include "partials/_swiper-responsive-images-thumbs_zh.njk" %} 
  
    <div class="school-talks-text-container">
        <div class="about-col">
            <div class="text-box">
                <p>
                <div class="info-box-paragraph">  
                    我是一個從<span lang="en-US">1989</span>年開始在台灣紮根的德國人。這些年來，我累積了不少有關台灣爬蟲類的相關知識，同時也得知了一些台灣人對蛇的態度並不友善 - 
                    在鄉村這種情況特別明顯，尤其是對老一輩的人們來說『唯一的好蛇，就是死掉的蛇。』除了力行相關的保育工作之外，我決定改善這種錯誤的觀念。
                    由於我可以把國語說的很流利，也具有對幼齡孩子們豐富的教學經驗。我在各個國小與國中間展開了免費的「台灣蛇類知識演講」。每場演講約 <span lang="en-US">90</span>分鐘，
                    以與聽講人相對應的適當層級來介紹台灣蛇類的一般知識，除此之外也會特別教導孩子們認識台灣的六大毒蛇，另外還有蛇的生態、習性以及他們對人類與環境的重要性等。
                    在此我為了加深孩子們的印象除了準備投影片，還有蛇蛻、蛇蛋以及四條活生生的台灣蛇(無毒且溫馴)。"
                </div>
                <div class="info-box-paragraph">
                    感謝媒體的宣傳與報導，使您可以在線上截取出我演講的片段來參考：自由時報刊登了我在八里小學上課的 一篇報導
                    <span lang="en-US">at Bali</span>。
                </div>
                <div class="info-box-paragraph">
                    整個演講完全是免費的，我之所以會這樣做，只因為這是一個我很重視的理念：給孩子們一個機會去了解這些物種在生態上的意義，
                    與欣賞牠們迷人的身影。根據理論，孩子們在成年人教導他們前並不會懼怕蛇。所以我想試著在孩子們得到錯誤觀念前先打個預防針。
                </div>
                <div class="info-box-paragraph">
                    假如您對這演講有興趣，<a class="site-link" href="contact_zh.html">請與我連絡</a>.
                </div>
                    <span lang="en-US">Hans Breuer (</span>梁漢斯<span lang="en-US">)</span>
                </p>
            </div>
        </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script   src="js/mySwiper.min.js"></script>

{% endblock %}