{% set body_class = "school-talks" %}
{% extends "_layout.njk" %} 
{% block title %}
    Snake talks in schools
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 about-col-12">
                <h1 class="header">SNAKE TALKS IN SCHOOLS</h1>
                <div class="text-box">
                    <p>  
                        I'm a German expat, based in Taiwan since 1989. Over the years, I've not only accumulated quite a fair amount of knowledge about Taiwan's
                        herpetofauna, but have also arrived at the insight that many people here, especially the older generation in the countryside, still display
                        a rather traditional attitude towards serpents, namely "the only good snake is a dead snake". I speak fluent Mandarin and am experienced in
                        teaching primary-level children, so I decided to help ameliorate this dire situation through conservation work at ground-level, and started
                        giving free presentations about Taiwan's snakes in local elementary and high schools. Each talk lasts about 90 minutes and includes general
                        information about local snakes, in particular the Big Venomous Six, as well as facts about snake biology, lifestyles, and their importance
                        for man and environment, all presented at an linguistically appropriate level. The main part of the lesson is a slide show, reinforced by
                        a number of show-and-tell props such as shed snake skins, snake eggs, and four real live (non-venomous and very docile) snakes.
                    <br><br>
                        Thanks to various media coverage, reference material is available online: the Liberty Times ran a <a class="site-link" href="#">piece on my snake classes</a> 
                        at Bali (八里) Elementary School, and two local cable stations did news reports. Here's one of the latter online: 
                        <a class="site-link" href="mms://wms.media.hinet.net/elta/yesgogogo/n047.wmv">Part One</a>, <a class="site-link" href="mms://wms.media.hinet.net/elta/yesgogogo/n048.wmv">
                        Part Two</a> (Windows Media Player required). Here's also a <a class="site-link" href="#">photo report of my own</a>.
                    <br><br>
                        The whole program is completely free, I do it entirely because it's a matter important to me: giving children a chance for a deeper 
                        understanding and appreciation of a highly fascinating, yet much-maligned class of animals, their role in the environment, and their beauty. 
                        As a rule, children do not fear snakes until adults teach them to, so I'm trying to enlighten them before their ophidiophobic relatives get 
                        a chance to ruin it forever for them. 
                    <br><br>
                        If you're interested in this program, <a class="site-link" href="">drop me a note</a>.
                    <br><br>
                        Hans Breuer (梁漢斯)
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="carousel--short">
        <button class="carousel__button carousel__button--left"> <!-- __ means child-->
            <img src="images-school-talks/chevron-left-solid.svg" alt="left icon">
        </button>
        <div class="carousel__track-container">
            <ul class="carousel__track">
                <li class="carousel__slide current-slide">
                    <img class="carousel__image--short" src="images-school-talks/school-talks-img-1.jpg" alt="school talk image 1">
                </li>
                <li class="carousel__slide">
                    <img class="carousel__image--short" src="images-school-talks/school-talks-img-2.jpg" alt="school talk image 2">
                </li>
                <li class="carousel__slide">
                    <img class="carousel__image--short" src="images-school-talks/school-talks-img-3.jpg" alt="school talk image 3">
                </li>
                <li class="carousel__slide">
                    <img class="carousel__image--short" src="images-school-talks/school-talks-img-4.jpg" alt="school talk image 4">
                </li>
                <li class="carousel__slide">
                    <img class="carousel__image--short" src="images-school-talks/school-talks-img-5.jpg" alt="school talk image 5">
                </li>
                <li class="carousel__slide">
                    <img class="carousel__image--short school-talks-img-6" src="images-school-talks/school-talks-img-6.jpg" alt="school talk image 6">
                </li>
            </ul>
        </div>
        <button class="carousel__button carousel__button--right"> <!-- means modifier-->
            <img src="images-school-talks/chevron-right-solid.svg" alt="right icon">
        </button>

        <div class="carousel__nav carousel__nav--school-talks">  
            <button class="carousel__indicator current-slide"></button>
            <button class="carousel__indicator"></button>
            <button class="carousel__indicator"></button>
            <button class="carousel__indicator"></button>
            <button class="carousel__indicator"></button>
            <button class="carousel__indicator"></button>
        </div>
    </div>
    
    <script src="js/carousel.js"></script>

{% endblock %}