{% set species = schoolTalksRespImgs %}
{% set body_class = "school-talks" %}
{% extends "_layout.njk" %}
{% block hrefLanguage %}
     <link rel="alternate" hreflang="en-US" href="{{- species[0].nameLowerCaseHyphenated -}}.html" />
     <link rel="alternate" hreflang="en" href="{{- species[0].nameLowerCaseHyphenated -}}.html" />
     <link rel="alternate" hreflang="zh-TW" href="{{- species[0].nameLowerCaseHyphenated -}}_zh.html" />
     <link rel="alternate" hreflang="zh" href="{{- species[0].nameLowerCaseHyphenated -}}_zh.html" />
{% endblock %}
{% block metaDescription %}
    "I'm a German expat, based in Taiwan since 1989. Over the years,
     I've not only accumulated quite a fair amount of knowledge about 
     Taiwan's herpetofauna, but have also arrived at the insight that 
     many people here, especially the older generation in the countryside, 
     still display a rather traditional attitude towards serpents, namely "the 
     only good snake is a dead snake". I speak fluent Mandarin and am experienced 
     in teaching primary-level children, so I decided to help ameliorate this dire 
     situation through conservation work at ground-level, and started giving free 
     presentations about Taiwan's snakes in local elementary and high schools."
{% endblock %}
{% block headLinks %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/swiperJsGallery.min.css">       
    <link rel="stylesheet" href="css/infoPages.min.css">
{% endblock %}
{% block csp %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; script-src 'self' https://www.google-analytics.com https://unpkg.com/swiper/swiper-bundle.min.js; media-src 'self'; connect-src https://www.google-analytics.com www.google-analytics.com https://stats.g.doubleclick.net; style-src 'self' https://unpkg.com/swiper/swiper-bundle.min.css; font-src 'self' data: application/font-woff">
{% endblock %}
{% block title %}
    Snake talks in schools
{% endblock %}

{% block content %}

    <div class="header-box">
        <h1  class="header">SNAKE TALKS IN SCHOOLS</h1>
    </div>        
        
    {% include "partials/_swiper-responsive-images-modal.njk" %}
    {% include "partials/_swiper-responsive-images-nonModal.njk" %}
    {% include "partials/_swiper-responsive-images-thumbs.njk" %}
  
    <div class="school-talks-text-container">
        <div class="about-col">
            <div class="text-box">
                <p>  
                <div class="info-box-paragraph">
                    I'm a German expat, based in Taiwan since 1989. Over the years, I've not only accumulated quite a fair amount of knowledge about Taiwan's
                    herpetofauna, but have also arrived at the insight that many people here, especially the older generation in the countryside, still display
                    a rather traditional attitude towards serpents, namely "the only good snake is a dead snake". I speak fluent Mandarin and am experienced in
                    teaching primary-level children, so I decided to help ameliorate this dire situation through conservation work at ground-level, and started
                    giving free presentations about Taiwan's snakes in local elementary and high schools. Each talk lasts about 90 minutes and includes general
                    information about local snakes, in particular the Big Venomous Six, as well as facts about snake biology, lifestyles, and their importance
                    for man and environment, all presented at an linguistically appropriate level. The main part of the lesson is a slide show, reinforced by
                    a number of show-and-tell props such as shed snake skins, snake eggs, and four real live (non-venomous and very docile) snakes.
                </div>
                <div class="info-box-paragraph">
                    Thanks to various media coverage, reference material is available online: the Liberty Times ran a <a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="#">piece on my snake classes</a> 
                    at Bali (<span lang="zh-TW">八里</span>) Elementary School, and two local cable stations did news reports. Here's one of the latter online: 
                    <a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="mms://wms.media.hinet.net/elta/yesgogogo/n047.wmv">Part One</a>, <a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="mms://wms.media.hinet.net/elta/yesgogogo/n048.wmv">
                    Part Two</a> (Windows Media Player required). Here's also a <a target="_blank" rel="noopener" rel="noreferrer" class="site-link" href="#">photo report of my own</a>.
                </div>
                <div class="info-box-paragraph">
                    The whole program is completely free, I do it entirely because it's a matter important to me: giving children a chance for a deeper 
                    understanding and appreciation of a highly fascinating, yet much-maligned class of animals, their role in the environment, and their beauty. 
                    As a rule, children do not fear snakes until adults teach them to, so I'm trying to enlighten them before their ophidiophobic relatives get 
                    a chance to ruin it forever for them. 
                </div>
                <div class="info-box-paragraph">
                    If you're interested in this program, <a class="site-link" href="contact.html">drop me a note</a>.
                </div>
                    Hans Breuer (<span lang="zh-TW">梁漢斯</span>)
                </p>
            </div>
        </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script src="js/mySwiper.js"></script>

{% endblock %}