<!doctype html>
<html lang="en-us">
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/styles.min.css">
    <!-- Swiper.js CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="css/swiperJsGallery.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/28d5ded6ac.js" crossorigin="anonymous"></script>
    <title>Snakes of Taiwan: {% block title %}{% endblock %}</title>

</head>

<body class="{{ body_class }}">  {# Making an active navigation with a body class unique to each page https://www.smashingmagazine.com/2018/03/static-site-with-nunjucks/ #}
  <div class="wrapper">
    {% include "partials/_nav.njk" %}
    
    <main class="main-content">
      {% block content %}
      {% endblock %}
    </main>
    
    {% include "partials/_footer.njk" %}
  </div> 
    
  <script src="js/nav.js"></script>

</body>
</html> 