<!doctype html>
<html lang="en-US">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <script defer src="https://www.googletagmanager.com/gtag/js?id=G-CYV9Y238H0"></script>
    <script defer src="js/googleAnalytics.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block hrefLanguage %}{% endblock %}
    <meta name="Description" content={% block metaDescription %}{% endblock %}>
    <link rel="stylesheet" href="css/layout.min.css">
    {% block headLinks %}{% endblock %}
    {% block csp %}{% endblock %}
    <title>Snakes of Taiwan: {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="images/index-and-home/flavicon.png">
</head>

<body class="{{ body_class }}">  {# Making an active navigation with a body class unique to each page https://www.smashingmagazine.com/2018/03/static-site-with-nunjucks/ #}
  <div class="wrapper">
    {% include "partials/_nav.njk" %}
    
    <main class="main-content">
            <div class="main-cover"></div>
      {% block content %}
      {% endblock %}
    </main>
    
    {% include "partials/_footer.njk" %}
  </div> 
    
  <script src="js/navAndFooter.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.6/purify.min.js"></script>

</body>
</html> 